{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}

{% block title %}Analysis{% endblock title %}

{% block css %}
{% endblock css %}

{% block header %}<h1>Analysis</h1>{% endblock header %}

{% block content %}
<section class="content"> 
  
  <!-- CHARTS -->
  <div class="row">
    {% include "_includes/analysis_chart.html" with chartID='locationChart' legendID='locationLegend' title='Spend by Location' %}
    {% include "_includes/analysis_chart.html" with chartID='categoryChart' legendID='categoryLegend' title='Spend by Category' %}
    {% include "_includes/analysis_chart.html" with chartID='productChart' legendID='productLegend' title='Spend by Product' %}
    {% include "_includes/analysis_chart.html" with chartID='supplierChart' legendID='supplierLegend' title='Spend by Supplier' %}
  </div>

{% endblock content %}


{% block js %}
  <script src="{% static 'plugins/chartjs/Chart.min.js' %}"></script>  
  <script>

    var pastelColors = function(){
        var r = (Math.round(Math.random()* 127) + 127).toString(16);
        var g = (Math.round(Math.random()* 127) + 127).toString(16);
        var b = (Math.round(Math.random()* 127) + 127).toString(16);
        return '#' + r + g + b;
    }

    $(function () {     
      
   
       
      var options = {
        tooltipTemplate: "<%= label %> ($<%= value %>)",
        animation : false,
        legendTemplate : '<ul class="pie-legend">'
                  +'<% for (var i=0; i<segments.length; i++) { %>'
                    +'<li>'
                    +'<span style=\"background-color:<%=segments[i].fillColor%>\"></span>'
                    +'<% if (segments[i].label) { %><%= segments[i].label %> <% } %>'
                  +'</li>'
                +'<% } %>'
              +'</ul>'
      };

      /****************** 
      Spend by Location      
      ********************/
      var locationData = [];
      {% for item in location_spend %}
        locationData[{{forloop.counter0}}] = {
          value: {{item.total_cost}},
          label: '{{item.invoice__shipping_add__name}}',
          color: pastelColors(),
        };
      {% endfor %}

      // Pass in data/options, generate chart & legend
      var locationCtx = $("#locationChart").get(0).getContext("2d");
      var locationChart = new Chart(locationCtx).Pie(locationData, options);
      $('#locationLegend').append(locationChart.generateLegend());
      
      /****************** 
      Spend by Category      
      ********************/
      var categoryData = [];
      {% for item in categ_spend %}
        categoryData[{{forloop.counter0}}] = {
          value: {{item.total_cost}},
          label: '{{item.product__category__name}}',
          color: pastelColors(),
        };
      {% endfor %}
      var categoryCtx = $("#categoryChart").get(0).getContext("2d");      
      var categoryChart = new Chart(categoryCtx).Pie(categoryData, options);
      $('#categoryLegend').append(categoryChart.generateLegend());

      /****************** 
      Spend by Product      
      ********************/     
      var productData = [];
      {% for item in product_spend %}
        productData[{{forloop.counter0}}] = {
          value: {{item.total_cost}},
          label: '{{item.product__name}}',
          color: pastelColors(),
        };
      {% endfor %}
      var productCtx = $("#productChart").get(0).getContext("2d");
      var productChart = new Chart(productCtx).Pie(productData, options);
      $('#productLegend').append(productChart.generateLegend());

      /****************** 
      Spend by Supplier      
      ********************/     
      var supplierData = [];
      {% for item in supplier_spend %}
        supplierData[{{forloop.counter0}}] = {
          value: {{item.total_cost}},
          label: '{{item.product__vendor_co__name}}',
          color: pastelColors(),
        };
      {% endfor %}
      var supplierCtx = $("#supplierChart").get(0).getContext("2d");
      var supplierChart = new Chart(supplierCtx).Pie(supplierData, options);
      $('#supplierLegend').append(supplierChart.generateLegend());

    });


  </script>
{% endblock js %}
