{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}

{% block title %}Dashboard{% endblock title %}

{% block css %}
{% endblock css %}

{% block header %}<h1>My Dashboard</h1>{% endblock header %}

{% block content %}
<section class="content">  
  
  <!-- WIDGETS -->
  <div class="row">
    {% include "_includes/dashboard_widget.html" with color="bg-yellow" value=pending_requisitions|length title="Pending Request(s)" href='requisitions' icon='book' %}
    {% include "_includes/dashboard_widget.html" with color="bg-blue" value=pending_pos|length title="Open PO(s)" href='purchaseorders' icon='shopping-cart' %}
    {% include "_includes/dashboard_widget.html" with color="bg-red" value=items_received|length title="Shipments this Week" href='inventory' icon='truck' %}
  </div>

  <!-- LIST -->
  <div class="row">
    
    {% include "_includes/dashboard_list.html" with title='Pending Requests' color="bg-yellow" documents=pending_requisitions url='view_requisition' empty_text='No pending requests.' %}
    
    {% include "_includes/dashboard_list.html" with title='Pending POs' color="bg-blue" documents=pending_pos url='view_purchaseorder' empty_text='No open POs.'%}    

    <!-- Shipments -->
     <div class="col-xs-12 col-md-4 col-lg-4">
      <div class="box box-default">     
        <div class="box-header with-border">
          <h3 class="box-title">Shipments received this week</h3>
        </div>       
        <div class="box-body">
          {% for item in items_received %}
             <a href="{% url 'view_purchaseorder' item.purchase_order.id %}">
                <span class="label bg-red label-large">{{item.purchase_order}}</span>
              </a>
             {{item}}<br><br>
          {% empty %}
            No shipments this week.
          {% endfor %}
        </div>        
      </div>    
    </div>
    <!-- ./shipments -->

  </div>

{% endblock content %}