{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}

{% block title %}Get Started{% endblock title %}

{% block css %}
{% endblock css %}

{% block header %}<h1>Welcome! Let's get started</h1>{% endblock header %}

{% block content %}
<section class="content">
  
  <div class="row">
   
    {% include "_includes/get_started_widget.html" with color="bg-yellow" title="1. SETTINGS" icon="fa-gear" list=settings_list %}

    {% include "_includes/get_started_widget.html" with color="bg-blue" title="2. PROCURE" icon="fa-shopping-cart" list=procure_list %}    
    
    {% include "_includes/get_started_widget.html" with color="bg-green" title="3. RECEIVE & PAY" icon="fa-truck" list=pay_list %}

    {% include "_includes/get_started_widget.html" with color="bg-red" title="4. TRACK INVENTORY" icon="fa-list-alt" list=drawdown_list %}
    
  </div>

</section>
{% endblock content %}


{% block js %}
{% endblock js %}
