{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}

{% block title %}Get Started{% endblock title %}

{% block css %}
{% endblock css %}

{% block header %}Get Started{% endblock header %}

{% block content %}
<section class="content">
  
  <div class="row">

  	<!-- TODO: Add CHECK MARKS IF EXISTS {% if user.buyer_profile.company.catalog_items|length == 0 %} {% endif %} -->
   
    {% include "_includes/get_started_widget.html" with color="bg-yellow" title="1. SETTINGS" icon="fa-gear" list=settings_list %}

    {% include "_includes/get_started_widget.html" with color="bg-blue" title="2. REQUEST" icon="fa-book" list=request_list %}

    {% include "_includes/get_started_widget.html" with color="bg-green" title="3. PROCURE" icon="fa-shopping-cart" list=procure_list %}
    
    {% include "_includes/get_started_widget.html" with color="bg-red" title="4. RECEIVE & PAY" icon="fa-truck" list=pay_list %}
    
  </div>

</section>
{% endblock content %}


{% block js %}
{% endblock js %}
