{% extends '_layouts/base_portal.html' %}
{% load staticfiles eProc_filters %}

{% block title %}Price Alerts{% endblock title %}

{% block header %}
  
  <button type="button" class="btn basic-teal pull-right" data-toggle="modal" data-target="#addModal"><i class='fa fa-plus'> </i> Add Alert</button>
  {% include "_includes/modal_singleform.html" with target="Product" form=price_alert_form %}

  <h1>Price Alerts</h1>
{% endblock header %}

{% block content %}
<section class="content">
  <div class="row">
    <div class="col-xs-12">
        <div class="box">

            <div class="box-body">
              <table id="priceAlertTable" class="table table-striped">
                {% include "_includes/table_header.html" with header_class="basic-grey" header=table_headers %}

                <tbody class="products-list">  
                    {% for alert in price_alerts %}
                    <tr id="{{alert.pk}}" data-commodity_id="{{alert.commodity.pk}}">

                      <td>{{ alert.commodity }}</td>
                      <td id="price_{{alert.pk}}">{{ alert.alert_price }}</td>
                      
                      <!-- Set in AJAX request below -->
                      <td id="current_price_{{alert.pk}}"></td> 
                      <td id="trigger_price_alert_{{alert.pk}}"></td>

                      <td>{{ alert.author }}</td>
                      <td>
                        <form method="POST">
                          {% csrf_token %}
                          <button type="submit" name="delete" value="{{alert.pk}}"><i class="fa fa-trash"></i></button>
                        </form>
                      </td>
                    
                    </tr>
                  {% endfor %}
                </tbody>
              </table><br>
          </div>

        </div>
       </div>
    </div>
  </section>

{% endblock content %}

{% block js %}
  {% include "_includes/data_tables_notifications.html" with tableID="priceAlertTable" %}

<script type="text/javascript">
    $(document).ready(function(){

      $(window).load(function(){

        $('#priceAlertTable tbody tr').each(function(){  
          
          var commodity_id = $(this).data('commodity_id');
          var alert_id = $(this).attr('id');
          
          // Update the commodity.current_price based on AJAX request
          $.ajax({
                url: '/price-alerts/current-price/'+commodity_id,
                type: 'get',
                success: function(data){              
                  // Set the price based on the API pull
                  var current_price = data;
                  $('#current_price_'+alert_id).html(current_price);

                  // Update the trigger_price_alert based on if current price has dropped below alert_price
                  if (parseInt(current_price) < parseInt($('#price_'+alert_id).html())){
                    $('#trigger_price_alert_'+alert_id).html('<span class="label label-danger"> PRICE ALERT!</span> ');
                  }else{
                    $('#trigger_price_alert_'+alert_id).html('<em><small><p class="text-muted"> Tracking</p></small></em>');
                  }

                },
                error: function(data){
                    console.log(data);
                }
            });
        });

    });

    })
  </script> 

{% endblock js %}