  {% load staticfiles %}
  {% load eProc_filters %}
  
  {% include '_includes/table_header.html' with header_class='basic-teal' table_headers=table_headers %}
  
  <tbody>
    {% for invoice in invoices %}           
    <tr>
      <td> 
        {% include "_includes/formatting/status_formatting_w_href.html" with item=invoice value_to_display=invoice.number href='view_invoice' %}
      </td>
      <td> {{ invoice.grand_total|currency_formatting:invoice.currency }}<br></td>
      <td> 
        <b>By: </b>{{ invoice.preparer }}<br>
        <b>On: </b>{{ invoice.date_issued | date }}<br>
      </td>
      <td>
        {{ invoice.date_due }}
        {% include '_includes/formatting/is_past_due.html' with obj=invoice %}<br>      
      </td>                      
      <td>{{ invoice.vendor_co }} <br></td>      
      <td>
        {% for po in invoice.purchase_orders.all %}
        <a href="{% url 'view_po' po.id %}">
            {{ po }}
        </a>,
        {% endfor %}
        <br>
      </td>
      <td>
        {% for file in invoice.files.all %}
          <!-- {#<a href="{% url file.base_url %}">#} -->
          {{ file.name }}
          </a> <br>
        {% endfor %}
      </td>
      <td>{{ invoice.comments }} <br></td>
    </tr>
  {% endfor %}
</tbody>