<div class="row invoice-info">
    <div class="col-sm-4 invoice-col">
        <p class="lead">Vendor</p>
        {{ invoice.vendor_co }}<br>
        {{ invoice.vendor_co.locations.get_primary_location }}<br>
    </div>
     <div class="col-sm-4 invoice-col">
        <p class="lead">Address</p>
        <b>Billing Address</b> <br>{{ invoice.billing_add }}<br><br>
        <b>Shipping Address</b> <br> {{ invoice.shipping_add }}<br><br>
    </div>       
    <div class="col-sm-4 invoice-col">
        <p class="lead">Details</p>
        Number: <b>{{ invoice.number }}</b><br>
        Date Issued: <b>{{ invoice.date_issued | date}}</b><br>
        Preparer: <b>{{ invoice.preparer }}</b><br>
        PO: <b>{{ invoice.purchase_order }}</b><br>
        Date Due: <b>{{ invoice.date_due }}</b><br>
      <br>
    </div>
</div><br><br>