  {% load eProc_filters %}

  <!-- Order Item Details in Invoice -->
  <div class="row">
    <div class="col-xs-12">
     <p class="lead">Line Items</p>
    </div>
    <div class="col-xs-12 table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Date Received</th>
            <th>Dept</th>
            <th>Unit Price</th>
            <th>Sub Total</th>
          </tr>
        </thead>

        <tbody>        
          {% for item in order_items %}
            <!-- currency_formatting is a custom filter (see templatetags/eProc_filters.py) -->
            <tr id="orderItemList">
              <td id="">{{ item.product.name }}</td>
              <td>{{ item.qty_delivered }}</td>
              <td>{{ item.get_delivered_date|date:"D, M d Y" }}</td>
              <td>{{ item.requisition.department }}</td>
              <td> {{ item.unit_price|currency_formatting:item.product.currency }}</td>
              <td> {{ item.get_ordered_subtotal|currency_formatting:item.product.currency }}</td>
            </tr>
          {% endfor %}          
        </tbody>
      </table>
    </div>
  </div><br>