{% load staticfiles %}

  
  {% include '_includes/table_header.html' with header_class='basic-teal' table_headers=table_headers %}
  
  <tbody>
    {% for invoice in invoices %}           
    <tr>
      <td> 
        {% include "_includes/status_formatting_w_href.html" with item=invoice value_to_display=invoice.number href='view_invoice' href_id=invoice.id %}
      </td>
      <td> {{ invoice.grand_total }}<br></td>
      <td> 
        <b>By: </b>{{ invoice.preparer }}<br>
        <b>On: </b>{{ invoice.date_issued | date }}<br>
      </td>
      <td>
        {{ invoice.date_due }}
        {% include '_includes/is_past_due.html' with doc=invoice %}<br>      
      </td>                      
      <td>{{ invoice.vendor_co }} <br></td>      
      <td>
        <a href="{% url 'view_purchaseorder' invoice.purchase_order.id %}">
          <span class="label label-large label-primary">
            {{ invoice.purchase_order }}
          </span>
        </a><br>
      </td>
      <td>
        {% for file in invoice.files.all %}
          <!-- {#<a href="{% url file.base_url %}">#} -->
          {{ file.name }}
          </a> <br>
        <!-- {% endfor %} -->
      </td>
      <td>{{ invoice.comments }} <br></td>
    </tr>
    {% endfor %}
  </tbody>