
  <!-- *****************
    Header
  ***************** -->
  {% include "_includes/docs/doc_header.html" with document=invoice href='view_invoice' %}

  <!-- *****************
    Invoice Details
  ***************** -->
  {% include "_includes/invoices/invoice_details.html" with invoice=invoice %}

  <!-- *****************
    Order Items Table
  ***************** -->
  {% include '_includes/invoices/invoice_item_table.html' with order_items=invoice.items.all %}

  <!-- ***************************************
  Comments, Terms & Sub/Grand Total tables
  *************************************** -->

  {% include "_includes/comments_totals.html" with tableID="InvoiceTable" form=invoice currency=invoice.currency sub_total=invoice.sub_total grand_total=invoice.get_grand_total %}

  <!-- *****************
       Footer
  ***************** -->
  <form method="post">
  {% csrf_token %}

  <div class="row no-print">
    <div class="col-xs-12">
      {% with invoice.get_latest_status as latest_status and user.buyer_profile as buyer %} 

      <form method="post">
      {% csrf_token %}      

        {% if latest_status.value == 'Pending' %}        
          {% if buyer.role == 'SuperUser' or buyer.role == 'Purchaser' or buyer == purchase_order.preparer %}                
                {% include "_includes/approve_deny_cancel.html" with document=invoice user_role='Payer' %}                
          {% endif %}
        {% endif %}
        {% if latest_status.value == 'Approved' %}
            {% if buyer.role == 'SuperUser' or buyer.role == 'Payer' %}
                <button type="submit" name="paid" value="paid" class="btn basic-teal pull-right"><i class="fa fa-check"></i> Mark as Paid</button>
            {% endif %}
          {% endif %}
      </form>

      <div class="label text-grey">
        Status: <em>{% include "_includes/formatting/status_formatting_w_href.html" with item=invoice value_to_display=latest_status href='view_invoice' %}
        [By {{latest_status.author}} on {{latest_status.date|date:"D, M d Y"}}]
        </em>
      </div>

      {% endwith %}
      
    </div>
  </div>

  </form>














