{% load staticfiles %}

<div id="blogpost">
	<div id="blogpost-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="main-pic">
						<img src="{% static 'img/blogs/' %}{{blog.image.name}}" class="img-responsive blogpost-img" alt="blogpost" />
					</div>					
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 post">
					<div class="title">{{blog.title}}</div>
					<div class="author">By <b>{{blog.author}}</b>, {{blog.date}}</div>
					<div class="content">{{blog.content}}</div>
					<div class="other-posts">
						<a href="{% url 'view_blog' prevBlog.id prevBlog.title|slugify %}" class="prev">← {{prevBlog.title|slice:":30"}}...</a>	
						<a href="{% url 'view_blog' nextBlog.id nextBlog.title|slugify %}" class="next pull-right">{{nextBlog.title|slice:":30"}}... →</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>