{% load staticfiles %}

<div class="post">
	<a href="{% url 'view_blog' blog.id blog.title|slugify %}" class="pic">
		<img src="{% static 'images/' %}{{blog.image}}" class="img-responsive" alt="blogpost" />
	</a>
	<div class="title"><a href="{% url 'view_blog' blog.id blog.title|slugify %}">{{blog.title}}</a></div>
	<div class="author">By {{blog.author}}, {{blog.date}}</div>
	<p class="intro">{{blog.summary}}</p>
	<a href="{% url 'view_blog' blog.id blog.title|slugify %}" class="continue-reading">Continue reading..</a>
</div>	