{% load crispy_forms_tags %}

<div id="contact-us">
	<div id="info">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-8 col-lg-12 message">
					<h3>Contact Us</h3>
					<p>Got a question? We're happy to help!</p>
					<form role="form" id="contact-form" method="post" novalidate="novalidate">
						{% csrf_token %}
						{% crispy contact_form contact_form.helper %}
					</form>
					<br><br>
					<p>By clicking "Submit", I agree to the Terms of User and Privacy Policy</p>
					<h3>Questions? Call us at: 1-800-346-3344</h3>
				</div>
			</div>
		</div>
	</div>
</div>