<div id="features">
	<div id="first-option">
		<div class="container">
			<div class="row header">
				<div class="col-md-12">
					<h2>Digitize your procurement process</h2>
					<p>Start seeing benefits right away!</p>
				</div>
			</div>
		</div>		
	</div><br><br>
	<div id="second-option">
		<div class="container">
			<div class="row">
				<div class="col-md-4 feature">
					<img src="images/circle-icons/one-color/creditcard.png" alt="credit-card" />
					<strong>Reduce costs with ad hoc processes</strong>
					<p>No more pen and paper. No more manual processes. No more data input errors. See savings immediately.</p>
				</div>
				<div class="col-md-4 feature">
					<img src="images/circle-icons/one-color/dev.png" alt="dev" />
					<strong>Get started immediately</strong>
					<p>Implement eProcure right away. Get set up in minutes with no technical set up process or costs.</p>
				</div>
				<div class="col-md-4 feature">
					<img src="images/circle-icons/one-color/globe.png" alt="globe" />
					<strong>Develop once, run everywhere</strong>
					<p>We don't impose any design restrictions, you are free to customize it as you see fit and it's easy to use.</p>
				</div>
			</div>
		</div>
	</div>
</div>