<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 copyright">© 2016</div>
			<div class="col-sm-6 menu">
				<ul id="footerMenu">
      				<li id="features">
          				<a href="{% url 'features' %}">Features</a>
        			<li id="pricing">
        				<a href="{% url 'pricing' %}">Pricing</a>
        			</li>
        			<li id="blog">
          				<a href="{% url 'blog' %}">Blog</a>
        			</li>
        			<li id="contact">
          				<a href="{% url 'contact' %}">Contact</a>
        			</li>
      			</ul>
			</div>			
		</div>
	</div>
</div>