<div class="row faq">
	<div class="col-md-12">
		<div class="row header">
			<div class="col-md-12">
				<h3>Frequently Asked Questions</h3>
			</div>
		</div>
		<div class="row questions">
			<div class="col-md-6">
				<div class="question">
					<strong>Do I need a card to signup?</strong>
					<p>
						There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
					</p>
				</div>
				<div class="question">
					<strong>Can I cancel at anytime?</strong>
					<p>
						There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
					</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="question">
					<strong>Can I cancel at anytime?</strong>
					<p>
						There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
					</p>
				</div>
				<div class="question">
					<strong>Do I need a card to signup?</strong>
					<p>
						There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>