<div class="row faq">
	<div class="col-md-12">
		<div class="row header">
			<div class="col-md-12">
				<h3>Frequently Asked Questions</h3>
			</div>
		</div>
		<div class="row questions">
			<div class="col-md-6">
				<div class="question">
					<strong>Do I need a card to signup?</strong>
					<p>
						Not at all! We want you to start see savings and efficiencies before you even think of removing that card. So get started today and enjoy what e-procurement can do for you.
					</p>
				</div>
				<div class="question">
					<strong>Is there a limit to the number of users I can add?</strong>
					<p>
						None at all. We want the system to work for you, so you can bring on as many as you need for your organization. However, we recommend bringing on only individuals with specific roles in the buying process that need to be on the platform to get the most out of your team and the system.
					</p>
				</div>				
			</div>
			<div class="col-md-6">
				<div class="question">
					<strong>Can I cancel at anytime?</strong>
					<p>
						Absolutely. If you don't see the benefits, you can cancel anytime and we won't hold any grudges :) Just make sure you reach out to us so we can help out in any way we can before we see you leave.
					</p>
				</div>
				<div class="question">
					<strong>Any more questions?</strong>
					<p>
						Check out our <a href="{% url 'faqs' %}">FAQs page</a> for answers to a lot more questions.<br><br>
						If you don't find all the answers you need there, reach out to us at <a href="mailto:{{contact.email}}">{{contact.email}}</a> and we will make sure we get you settled.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>