<div id="testimonials">
	<div class="container">
		<div class="row header">
			<div class="col-md-12">
				<h3>Trusted by a lot businesses around the world:</h3>
			</div>
		</div>
		<div class="row">
			{% for testimonial in testimonials %}
			<div class="col-sm-6">
				<div class="testimonial pull-right">
					<div class="quote">
						{{testimonial.body}}
						<div class="arrow-down">
			                <div class="arrow"></div>
			                <div class="arrow-border"></div>
			            </div>
					</div>
					<div class="author">
						<div class="name">{{testimonial.author}}</div>
						<div class="company">{{testimonial.author.company}}</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>