{% extends '_layouts/base_landing.html' %}
{% load staticfiles %}

{% block header %}
	{% include "_includes/header.html" with background_color="hero" signin_class="button-outline" ul_class="visible-md visible-lg" %}
{% endblock header %}	

{% block content %}

	<div id="home">
		<div id="hero">
			<div class="container">
				<h1 class="hero-text">
					Purchasing. <br />				
					Streamlined.
				</h1>
				<p class="sub-text">
					Request. Approve. Purchase. Track
				</p>
				<div class="cta">				
					<a href="{% url 'register' %}" class="button basic-red">Get started now</a>					
				</div>
				<div class="img"></div>
			</div>
		</div>
	</div>

	{% include "_includes/features.html" %}		

	<div id="home">			
		
		<div id="pricing" class="no-margin-top">
			<div class="container">
				{% include "_includes/pricing.html" with plans=plans %}
			</div>
		</div>
		{% include "_includes/testimonials.html" %}
		{% include "_includes/get_started.html" %}
		
	</div>

{% endblock content %}

{% block footer %}
	{% include "_includes/footer_light.html" %}	
{% endblock footer %}

