cffi==1.9.1
cryptography==1.7.2
Django==1.10.2
django-crispy-forms==1.6.1
django-model-utils==2.6.1
djangorestframework==3.11.2
enum34==1.1.6
gunicorn==19.7.1
idna==2.2
ipaddress==1.0.18
jsonfield==1.0.3
ndg-httpsclient==0.4.2
Pillow==3.4.2
psycopg2==2.6.2
pyasn1==0.2.3
pycparser==2.17
pyOpenSSL==16.2.0
pytz==2016.10
requests==2.13.0
six==1.10.0
stripe==1.48.1
urllib3==1.20
whitenoise==3.3.0
