{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}

{% block title %}New Requisition{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'plugins/datepicker/datepicker3.css' %}">
{% endblock css %}

{% block header %}Request an Order <small></small>{% endblock header %}

{% block content %}
<section class="content">

	{% if messages %}
	    {% for message in messages %}
	        <p>{{ message }}</p>
	    {% endfor %}
	{% endif %}

    <form method="POST">
	{% csrf_token %}

      <div class="box box-default">

	    <!-- DEPARTMENT & NEXT APPROVER DROPDOWNS -->
        <div class="box-header with-border">
          <h3 class="box-title">Order Details</h3>
        </div>       

         <div class="box-body">
          <div class="row">
        	<div class="col-xs-12">
				<div class="box-body table-responsive no-padding">
	              <table class="table">
	                <tr class="basic-grey">	                  
	                  <th>NUMBER</th>
	                  <th>DEPARTMENT</th>
	                  <th>DATE REQUIRED</th>	                  
	                  <th>COMMENTS</th>
	                </tr>
    				<tr>    					
    					<td>{{ requisition_form.number }}</td>
    					<td>{{ requisition_form.department }}<br><br>
                            <a href="{% url 'departments' %}"><i class="fa fa-plus"></i> Add Dept</a>
                        </td>
    					<td>{{ requisition_form.date_due }}</td>    					
    					<td>{{ requisition_form.comments }}</td>
    				</tr>
    			   </table>
	            </div>
	        </div>
		</div> 
        </div>

        <!-- ORDER DETAILS -->
        <div class="box-header with-border">
          <h3 class="box-title">Order Items List</h3>
        </div>

        <div class="box-body">
          <div class="row">
        	<div class="col-xs-12">
				<div class="box-body table-responsive no-padding">
	              <table class="table">
	                <tr class="basic-teal">
	                  <th class="col-xs-4">PRODUCT</th>	                  
	                  <th class="col-xs-1">QUANTITY</th>	                  
                      <th class="col-xs-3">ACCOUNT CODE</th>
                      <th class="col-xs-4">COMMENTS</th>
	                </tr>

		        	{{ orderitem_formset.management_form }}
		        	{% for orderitem_form in orderitem_formset %}    				
                        {% for hidden in orderitem_form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}                    
        				<tr class="orderitem_formset">
        					<td>{{ orderitem_form.product }}</td>    					
        					<td>{{ orderitem_form.quantity }}</td>    					
                            <td>{{ orderitem_form.account_code }}</td>
                            <td>{{ orderitem_form.comments }}</td>
        				</tr>
    				{% endfor %}
    				</table>
	            </div>
	        </div>
		</div>
        
        <div class="pull-right">Next Approver: {{ requisition_form.next_approver }} </div><br><br>

    	<input type="submit" value="SUBMIT REQUEST" class="button btn basic-teal pull-right"/>

    </form>

</section>
{% endblock content %}


{% block js %}
<script src="{% static 'plugins/datepicker/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'plugins/django-dynamic-formset/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.orderitem_formset').formset({
        addText: '<i class="fa fa-plus"></i> Add Line Item',
        deleteText: ' <span class="pull-right"><i class="fa fa-trash"></i></span>'
    });
</script>
{% endblock js %}









