{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}

{% block title %}Order Approvals{% endblock title %}

{% block css %}
{% endblock css %}

{% block header %}Approve an Order <small></small>{% endblock header %}

{% block content %}
<section class="content">
  <div class="row">
    <div class="col-xs-12">
        <div class="box">

          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#all" data-toggle="tab">All</a></li>
              <li><a href="#pending" data-toggle="tab">Pending</a></li>
              <li><a href="#approved" data-toggle="tab">Approved</a></li>
              <li><a href="#denied" data-toggle="tab">Denied</a></li>
            </ul>

            <!-- REQUISITIONS -->
            <div class="tab-content">
              <!-- ALL -->
              <div class="tab-pane active" id="all">
                 <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Request Order</th>                        
                        <th>Date Due</th>                        
                        <th>Department</th>
                        <th>Request Details</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for requisition in requisitions %}           
                    <tr>
                      <td><a href="{%url 'view_requisition' requisition_id=requisition.id %}"><span class="btn btn-info">{{ requisition.id }}</span>
                        <small><b>Requested by:</b> {{ requisition.preparer }}</small>
                        <small><b>Num. items:</b> {{ requisition.id }}</small>
                      </td>
                      <td>{{ requisition.date_due }} 
                        <small><b>Date due:</b> {{ requisition.date_created }}</small>
                      </td>                      
                      <td> {{ requisition.department }}</td>
                      <td> {{ requisition.comments }}</td>
                      <td>{{requisition.currency }} {{ requisition.sub_total }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                  </table>
              </div>
              
              <!-- PENDING -->
              <div class="tab-pane" id="pending">
                 <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Request Order</th>                        
                        <th>Date Due</th>                        
                        <th>Department</th>
                        <th>Request Details</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for requisition in pending_requisitions %}           
                    <tr>
                      <td><a href="{%url 'view_requisition' requisition_id=requisition.id %}"><span class="btn btn-info">{{ requisition.id }}</span>
                        <small><b>Requested by:</b> {{ requisition.preparer }}</small>
                        <small><b>Num. items:</b> {{ requisition.id }}</small>
                      </td>
                      <td>{{ requisition.date_due }} 
                        <small><b>Date due:</b> {{ requisition.date_created }}</small>
                      </td>                      
                      <td> {{ requisition.department }}</td>
                      <td> {{ requisition.comments }}</td>
                      <td>{{requisition.currency }} {{ requisition.sub_total }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                  </table>
              </div>

              <!-- APPROVED -->
              <div class="tab-pane" id="approved">
              <div class="tab-pane" id="pending">
                 <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Request Order</th>                        
                        <th>Date Due</th>                        
                        <th>Department</th>
                        <th>Request Details</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for requisition in approved_requisitions %}           
                    <tr>
                      <td><a href="{%url 'view_requisition' requisition_id=requisition.id %}"><span class="btn btn-info">{{ requisition.id }}</span>
                        <small><b>Requested by:</b> {{ requisition.preparer }}</small>
                        <small><b>Num. items:</b> {{ requisition.id }}</small>
                      </td>
                      <td>{{ requisition.date_due }} 
                        <small><b>Date due:</b> {{ requisition.date_created }}</small>
                      </td>                      
                      <td> {{ requisition.department }}</td>
                      <td> {{ requisition.comments }}</td>
                      <td>{{requisition.currency }} {{ requisition.sub_total }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                  </table>
              </div>
              </div>
              
              <!-- DENIED -->
              <div class="tab-pane" id="approved">
              <div class="tab-pane" id="pending">
                 <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Request Order</th>                        
                        <th>Date Due</th>                        
                        <th>Department</th>
                        <th>Request Details</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for requisition in denied_requisitions %}           
                    <tr>
                      <td><a href="{%url 'view_requisition' requisition_id=requisition.id %}"><span class="btn btn-info">{{ requisition.id }}</span>
                        <small><b>Requested by:</b> {{ requisition.preparer }}</small>
                        <small><b>Num. items:</b> {{ requisition.id }}</small>
                      </td>
                      <td>{{ requisition.date_due }} 
                        <small><b>Date due:</b> {{ requisition.date_created }}</small>
                      </td>                      
                      <td> {{ requisition.department }}</td>
                      <td> {{ requisition.comments }}</td>
                      <td>{{requisition.currency }} {{ requisition.sub_total }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                  </table>
              </div>
              </div>              
            </div>

        </div>
       </div>
    </div>
  </section>
{% endblock content %}



{% block js %}
{% endblock js %}
