{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}

{% block title %}Requests{% endblock title %}

{% block css %}
{% endblock css %}

{% block header %}Requisition{% endblock header %}


{% block content %}
    <section class="invoice">
    <div class="row">
      <div class="col-xs-12">
        <a href="{% url 'requisitions' %}"><i class="fa fa-angle-left"></i> Back</a>
      </div>
    </div>

      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-globe"></i> {{ requisition.buyerCo }}
            <small class="pull-right">Date Requested: <em>{{ requisition.date_issued }}</em></small>
          </h2>
        </div>
      </div>

      <!-- Request Details -->
      <div class="row invoice-info">
      	<div class="col-xs-12">
          <p class="lead">Requisition Details</p>
        </div>
        <div class="col-sm-6 invoice-col">
          	<b>Department:</b> {{ requisition.department }}<br>
			      <b>Preparer:</b> {{ requisition.preparer }}<br>
          	<b>Next Approver:</b> {{ requisition.next_approver }}<br>
        </div>
        <div class="col-sm-6 invoice-col">
          <b>Request Number:</b> {{ requisition.number }}<br>
          <b>Currency:</b> {{ requisition.currency }}<br>
          <b>Date Due:</b> {{ requisition.date_due }}<br>
          <b>Status:</b> {{ latest_status }}  
            {% if latest_status == 'Approved' %}
            <i class="fa fa-check" style="color: green" aria-hidden="true"> </i>
            {% elif latest_status == 'Pending' %}
            <i class="fa fa-question" style="color: orange" aria-hidden="true"> </i>
            {% elif latest_status == 'Denied' %}
            <i class="fa fa-close" style="color: red" aria-hidden="true"> </i>
            {% endif %}
          <br>
        </div>
      </div>

      <!-- Order Items Table-->
      {% include "_includes/order_item_table.html" with order_items=requisition.order_items.all %}

	    <!-- Comments & Total -->
      <div class="row">      
        <div class="col-xs-12">
        {% if requisition.comments %}
          <p class="lead">Comments</p>
          <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;"> {{ requisition.comments }}</p>
        </div>
        {% endif %}

        <div class="col-xs-12">
          <p class="lead pull-right">Total Cost: {{ requisition.currency }} {{ requisition.sub_total }}</p>
        </div>
      </div><br>
      
      <div class="row no-print">
        <div class="col-xs-12">                  
          {% if latest_status == 'Pending' %}
            <!-- Show only if Approver Role -->
            {% if user.buyer_profile.role == 'SuperUser' or user.buyer_profile.role == 'Approver' %}
              <form method="post">
                {% csrf_token %}
                <button type="submit" name="approve" value="approve" class="btn basic-teal pull-right"><i class="fa fa-check"></i> Approve Order</button>
                <button type="submit" name="deny" value="deny" class="btn basic-grey pull-right"><i class="fa fa-times"></i> Deny Order</button>
              </form>
            {% endif %}
          {% else %}
            <div class="btn basic-grey pull-right">Status: <em><b>{{latest_status}}</b> [{{latest_status.author}} on {{latest_status.date}}]</div></em>
          {% endif %}          
        </div>
      </div>
    </section>
   
    <div class="clearfix"></div>
{% endblock content %}


{% block js %}
  {% include "_includes/dataTablesNotifications.html" with tableID="catalogTable" %}
{% endblock js %}