{% extends '_layouts/base_landing.html' %}
{% load staticfiles %}

{% block content %}
<div id="blog">
	<div id="posts">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3>Blogs</h3>
				</div>
			</div><br>
			<div class="row">
				<div class="col-md-9">
					{% for blog in blogs %}
						{% include "_includes/blogpost_summary.html" with blog=blog %}
					{% endfor %}
				</div>
				<div class="col-md-3 sidebar">					
					<div class="best-hits">
						<strong>Check out our best hits:</strong>
						{% for blog in blogs %}
							<a href="{% url 'view_blog' blog.id blog.title|slugify %}">{{blog.title}}</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block js %}
{% endblock js %}