{% extends '_layouts/base_landing.html' %}
{% load staticfiles %}

{% block content %}
<div id="pricing">
	<div id="first-option">
		<div class="container">
			{% include "_includes/pricing.html" %}		
			<div class="row message">
				<p>
					All of our plans come with a 30 day trial with no credit card required, we also offer a 
					<a href="signup.html">free plan</a>.
				</p>
			</div>
			<div class="row faq">
				<div class="col-md-12">
					<div class="row header">
						<div class="col-md-12">
							<h3>Frequently Asked Questions</h3>
						</div>
					</div>
					<div class="row questions">
						<div class="col-md-6">
							<div class="question">
								<strong>Do I need a card to signup?</strong>
								<p>
									There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
								</p>
							</div>
							<div class="question">
								<strong>Can I cancel at anytime?</strong>
								<p>
									There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
								</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="question">
								<strong>Can I cancel at anytime?</strong>
								<p>
									There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
								</p>
							</div>
							<div class="question">
								<strong>Do I need a card to signup?</strong>
								<p>
									There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row contact">
				<div class="col-md-12">
					<div class="wrapper clearfix">
						<h4>
							<span class="brankic-phone2"></span>
							Unsure which plan is best for you? You can call our sales team any day at 
							<strong>1-800-123-4567</strong>
						</h4>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>
{% endblock %}