{% extends '_layouts/base_landing.html' %}
{% load staticfiles %}

{% block content %}
<div id="pricing">
	<div id="first-option">
		<div class="container">
			
			{% include "_includes/pricing_plans.html" with plans=plans %}
			
			<div class="row message">
				<p>All of our plans come with no contract and an option to cancel anytime.</p>
			</div>

			{% include "_includes/pricing_faqs.html" %}
			
			<div class="row contact">
				<div class="col-md-12">
					<div class="wrapper clearfix">
						<h4>
							<span class="brankic-phone2"></span>
							Have more questions? Reach out to 
							<strong><a href="mailto:{{contact.email}}">{{contact.email}}</a></strong> at any time!							
						</h4>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>
{% endblock %}