{% extends '_layouts/base_landing.html' %}
{% load staticfiles %}

{% block content %}
<div id="home">
	<div id="features">
		<div class="container">
			<div class="row header">
				<div class="col-md-12">
					<h2>Thanks!</h2>
					<p>Got your message - we will reach out to you shortly.</p>
					<i class="fa fa-thumbs-up fa-5x" aria-hidden="true"></i>
				</div>
			</div>
		</div>
	</div>	
</div>		
{% endblock content %}

{% block js %}
  <script>
    $(function() {
        setTimeout(function() { window.location = '/'}, 3000);
    });
  </script>
{% endblock js %}