{% load staticfiles %}

  {% include '_includes/table_header.html' with header_class='basic-teal' table_headers=table_headers %}
  
  <tbody>
    {% for drawdown in drawdowns %}           
    <tr>
      <td> 
        {% include "_includes/status_formatting_w_href.html" with item=drawdown value_to_display=drawdown.number href=href href_id=drawdown.id %}
      </td>
      <td> {{ drawdown.preparer }}<br></td>
      <td>{{ drawdown.date_issued | date }}<br></td>  
      <td>
        {{ drawdown.date_due | date }} 
        {% include '_includes/is_past_due.html' with doc=drawdown %}<br>
      </td>  
      <td>{{ drawdown.comments }} <br></td>
    </tr>
    {% endfor %}
  </tbody>