{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}

{% block title %}New Purchase Order{% endblock title %}

{% block css %}
{% endblock css %}

{% block header %}Create a Purchase Order{% endblock header %}

{% block content %}
<section class="content">

  <div class="row">
    <div class="col-xs-12">
        <div class="box">

        	<form method="POST" action="">
        	{% csrf_token %}

				<!-- FIRST SECTION OF FORM: ADD ITEMS TO PO -->
				<div id="page1" class="pages">
		        	<div class="box-header with-border">
		          		<h3 class="box-title">Select Order Items to Add to PO</h3>
		          	</div>        	
		        	<div class="box-body">  
		        		<table id="orderTable" class="table table-striped">      	
			        		{% include "_includes/table_header.html" with header_class="basic-teal" table_headers=item_header %}
							<tbody>					
							  {% for item in approved_order_items %} 
							  <tr>
							  	<td><input type="checkbox" name="order_items" id="{{item.id}}" value="{{item.id}}"/>&nbsp;</td>
							    <td><span class="btn basic-grey">{{ item.number }}</span></a><br>
							      <small><b>Requested by:</b> {{ item.requisition.preparer.user.username }} <em>[{{item.requisition.preparer.department }}]</em></small>
							    </td>
							    <td><span class="itemName">{{ item.product.name }}</span> <br></td>
							    <td>
							    	<span class="itemQty">{{ item.quantity }}</span><br>
							    	<em><small>@ {{item.product.currency|upper}} <span class="itemUnitPrice">{{ item.unit_price }}</span> / unit
							    </td>						    
							    <td class="itemVendor"> {{ item.product.vendor_co }}</td>                      
							    <td> {{ item.date_due }}</td>
							    <td> <span class="itemSubTotal">{{ item.sub_total }}</span><br></td>				    
							  </tr>
							  {% endfor %}					
							</tbody>
				  	  	</table>		  
					<!-- Button to go toggle on 2nd page of form -->					
					<button type="button" class="button btn basic-teal pull-right navigation" id="nextPage">Add Items to PO <i class="fa fa-angle-right"> </i> </button>					
					</div>					
		        </div>


				<!-- SECOND SECTION OF FORM: ADD VENDOR, TERMS ETC -->
				<div id="page2" class="pages">
					<div class="box-header with-border">
		          		<h3 class="box-title">Fill in Purchase Order Details</h3>
		          	</div>        	

		        	<div class="box-body"> 

		        	  <div class="row">
		        	  	<div class="col-xs-12">
				      		<p class="lead">PO Information</p>
				      	</div>
		        	  </div>
				      <div class="row invoice-info">		      	
				      	<div class="col-sm-3 invoice-col">
				          Vendor <br> {{po_form.vendor_co}}
				        </div>
				        <div class="col-sm-3 invoice-col">
				          Billing Address <br>{{po_form.billing_add}}
				        </div>
				        <div class="col-sm-3 invoice-col">				          
				          Shipping Address <br>{{po_form.shipping_add}}
				        </div>
				        <div class="col-sm-3 invoice-col">
				          PO Num. {{po_form.number}}<br><br>
				          Date Due {{po_form.date_due}}<br>
				        </div>
				      </div><br><br>

				      <div class="row">
		        	  	<div class="col-xs-12">
				      		<p class="lead">Order Items</p>
				      	</div>
				      </div>
				      <div class="row">
				      	<div class="col-xs-12"> 
				      		<table id="orderPOTable" class="table table-striped">
			        			{% include "_includes/table_header.html" with header_class="basic-grey" table_headers=po_header %}
								<tbody>	
								</tbody>
							</table>
						</div>
		        	  </div><br><br>


				        <!-- Comments, Terms &&&&& Sub Total & Grand Total tables -->
				        {% include "_includes/po_comments_totals.html" with tableID="POTable" form=po_form currency=currency %}
						<div class="row">
					      	<div class="col-xs-12 col-lg-6"> </div>
					      	<div class="col-xs-6 col-lg-3"> 
					      		<p class="lead">Next approver</p>
					      	</div>
					        <div class="col-xs-6 col-lg-3"> {{po_form.next_approver}}<br></div>
				        </div><br><br>
						
						<!-- BUTTONS -->
						<div class="row">
							<div class="col-xs-12">
								<!-- Button to go toggle on 1st page of form -->
					        	<button type="button" class="button btn basic-grey pull-left navigation" id="prevPage"><i class="fa fa-angle-left"></i> Go back</button>
								
								<input type="submit" value="Create Purchase Order" name="createPO" class="button btn basic-teal pull-right"/>						
								<a href="{% url 'new_purchaseorder' %}" name="cancel" class="button btn basic-grey pull-right">Cancel</a>
							</div>
						</div>
		        	</div>
				</div>    

			</form>

		 </div>
	  </div>
  </div>

</section>
{% endblock content %}

{% block js %}
  <script src="{% static 'dist/js/custom.js' %}"></script>
  {% include "_includes/dataTablesNotifications.html" with tableID="orderTable" %}	
{% endblock js %}