{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}
{% load eProc_filters %}

{% block title %}{{title}}{% endblock title %}

{% block css %}
{% endblock css %}

{% block header %}<h1>{{title}}</h1>{% endblock header %}

{% block content %}
<section class="content">
  <div class="row">
    <div class="col-xs-12">
          
        {% if not all_pos %}
            <!-- If no POs have been created, link to CREATE NEW PO -->
            {% include "_includes/docs/no_docs_add_now.html" with text="You haven't created any POs yet" href='new_po_items' action='Create one now' %}
            
        {% else %}

        <div class="box">          
          <div class="nav-tabs-custom">          

            <!-- TABS -->
            <ul class="nav nav-tabs">
              <li><a href="#all" data-toggle="tab">All</a></li>
              <li class="active"><a href="#open" data-toggle="tab">Open</a></li>
              <li><a href="#closed" data-toggle="tab">Closed</a></li>
              <li><a href="#paid" data-toggle="tab">Paid</a></li>
              <li><a href="#cancelled" data-toggle="tab">Cancelled</a></li>
            </ul>

            <!-- TABLES -->
            <div class="tab-content">
              <div class="tab-pane" id="all">
                 <table id="allTable" class="table table-striped">
                 {% include '_includes/pos/po_table.html' with purchaseorders=all_pos href=href %}
                  </table>
              </div>
              <div class="tab-pane active" id="open"> 
                 <table id="openTable" class="table table-striped">
                 {% include '_includes/pos/po_table.html' with purchaseorders=open_pos href=href %}
                  </table>
              </div>       
              <div class="tab-pane" id="closed">
                 <table id="closedTable" class="table table-striped">
                 {% include '_includes/pos/po_table.html' with purchaseorders=closed_pos href=href %}
                  </table>
              </div>
              <div class="tab-pane" id="paid">
                 <table id="paidTable" class="table table-striped">
                 {% include '_includes/pos/po_table.html' with purchaseorders=paid_pos href=href %}
                  </table>
              </div>  
              <div class="tab-pane" id="cancelled">
                 <table id="cancelledTable" class="table table-striped">
                 {% include '_includes/pos/po_table.html' with purchaseorders=cancelled_pos href=href %}
                  </table>
              </div>
            </div>
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </section>
{% endblock content %}

{% block js %}
  {% include "_includes/data_tables_notifications.html" %}
<script type="text/javascript">
  $(function () {
    $('#allTable').DataTable();
    $("#openTable").DataTable();
    $("#closedTable").DataTable();
    $("#cancelledTable").DataTable();
    $("#paidTable").DataTable();
  });
</script>
{% endblock js %}