{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Receive PO{% endblock title %}

{% block header %}
  <p class="small"><a href="{% url 'receive_pos' %}"><i class="fa fa-angle-left"></i> Back</a></p>
  <h1>PO Receive Details</h1>
{% endblock header %}


{% block content %}

  {% with purchase_order.get_latest_status as latest_status %}
  <section class="invoice">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <!-- PO Header -->
      {% include "_includes/docs/doc_header.html" with document=purchase_order href='view_po' %}
      
      <!-- PO Details -->
      <div class="row invoice-info">
        <div class="col-xs-11 col-md-6 col-lg-6 invoice-col">
            <p class="lead">Details</p>
            <table class="table no-border">
              <tbody>
                <tr>
                  <td>Vendor </td>
                  <td><b>{{ purchase_order.vendor_co }}</b></td>
                </tr>
                <tr>
                  <td>Preparer </td>
                  <td><b>{{ purchase_order.preparer }}</b></td>
                </tr>
                <tr>
                  <td>Receipt slips </td>
                  <td>
                    {% if purchase_order.files %}
                      {% for file in purchase_order.files.all %}
                        <a href="{{MEDIA_URL}}{{file.file}}">{{ file.name }}</a><br>
                      {% endfor %}
                    {% else %}
                      No files uploaded yet
                    {% endif %}
                  </td>
                </tr>
              </tbody>
            </table>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-6 invoice-col">
           {% include '_includes/file_upload_form.html' with title='Upload Packing Slip(s) / Receipt(s) (one at a time)' form=receipt_file_form %}
        </div>  
      </div>

      <!-- Order Item Form in Request -->    
        <div class="row">
          <div class="col-xs-12">
           <p class="lead">PO Line Items</p>
          </div>
          
          <div class="col-xs-12">
              {{ receive_po_formset.management_form | crispy }}

              {% for form in receive_po_formset.forms %}                   
                  {% for hidden in form.hidden_fields %}
                      {{ hidden }}
                  {% endfor %}
                  <div class="item" id="{{form.prefix}}">
                      {% crispy form form.helper %}                                
                  </div>                            
              {% endfor %}
          </div>
        </div><br>

        <!-- Footer -->
        <div class="row">
          <div class="row">
            <div class="col-xs-12">
              
              <div class="label text-grey">
                  <form method="post">
                  {% csrf_token %}    
                    
                    {% if purchase_order.current_status == 'Open' and purchase_order.is_ready_to_close %}
                      <button type="submit" name="close" value="close" class="btn basic-teal pull-right">Close PO</button>
                    {% endif %}

                    <!-- If the PO is closed, don't show the button -->
                    {% if purchase_order.current_status != 'Closed' %}
                      <button type="submit" name="save" value="save" id="save" class="btn basic-teal-outline pull-right">Save Changes</button>
                    {% endif %}                    
                  </form>
              </div>

             </div>           
          </div>
        </div>

      </div>

    </form>

  </section>
  <div class="clearfix"></div>
   
   {% endwith %}
{% endblock content %}


{% block js %}
  <script>
    $(document).ready(function(){
      
      // Save Button is disabled on page load
      $('#save').attr('disabled', 'disabled');
      $('#save').addClass('disabled');

      // Save Button is enabled only if any input field is changed or file_upload button is clicked on
      $('.item :input').keyup(function() {
        $('#save').removeAttr('disabled');
        $('#save').removeClass('disabled');
      });
      $('#id_file').click(function() {
        $('#save').removeAttr('disabled');
        $('#save').removeClass('disabled');
      });

    })
  </script>
{% endblock js %}