{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Receive PO{% endblock title %}

{% block header %}PO Receive Details{% endblock header %}


{% block content %}

  <section class="invoice">

    <div class="row">
      <div class="col-xs-12">
        <a href="{% url 'receive_pos' %}"><i class="fa fa-angle-left"></i> Back</a>
      </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header no-border">{{purchase_order.number}}</h2>
        </div>
    </div>
    <div class="row invoice-info">
        <div class="col-sm-12 invoice-col">
            <table>
              <tr>
                <td>PURCHASED BY: </td>
                <td style="padding-left:3em">{{ purchase_order.preparer }}</td>
              </tr>
              <tr>
                <td>VENDOR: </td>
                <td style="padding-left:3em">{{ purchase_order.vendor_co.name }}</td>
              </tr>
            </table> <br>
        </div>
    </div>

    <!-- Order Item Form in Request -->
    <form method="POST">
    {% csrf_token %}
      <div class="row">
        <div class="col-xs-12">
         <p class="lead">PO Line Items</p>
        </div>
        
        <div class="col-xs-12 table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Number</th>
              <th>Product</th>
              <th>SKU</th>
              <th>Quantity</th>
              <th>Status</th>
            </tr>
            </thead>

            <tbody>
            {% for item in purchase_order.order_items.all %}
            <tr>
              <td>{{ item.number }}</td>
              <td>{{ item.product.name }}</td>
              <td>{{ item.product.sku }}</td>
              <td>{{ item.quantity }}</td> 
              {% if item.status == 'Delivered' %}        
                <td class="label label-success" style="vertical-align: bottom;">Delivered </td>
                {% else %}
                <td class="approvedToggle"><input type="checkbox" name="order_items" id="{{item.id}}" value="{{item.id}}"/> &nbsp;Delivered?</td>   
              {% endif %}
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div><br>
      <div class="row">
        <div class="row">
          <div class="col-xs-12">
            {% with purchase_order.get_latest_status as latest_status %} 
              {% if latest_status.value == 'Open' %}
                <button type="submit" class="btn basic-teal pull-right">Save Changes</button>
              {% elif latest_status.value == 'Closed' %}
                <div class="label" style="color:grey"><b>PO Closed: <em></b>
                {{latest_status.date}} by {{latest_status.author}}</div></em>
              {% endif %}
            {% endwith %}            
          </div>
        </div>
      </div>
    </form>

  </section>
  <div class="clearfix"></div>
   
{% endblock content %}


{% block js %}
<script>
  
</script>
{% endblock js %}