{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Receive PO{% endblock title %}

{% block header %}PO Receive Details{% endblock header %}


{% block content %}

  {% with purchase_order.get_latest_status as latest_status %}
  <section class="invoice">

    <div class="row">
      <div class="col-xs-12">
        <a href="{% url 'receive_pos' %}"><i class="fa fa-angle-left"></i> Back</a>
      </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header border">PURCHASE ORDER [{{purchase_order.number}}]</h2>
        </div>
    </div>
    
    <!-- PO Details -->
    {% include "_includes/po_details.html" with purchase_order=purchase_order %}

    <!-- Order Item Form in Request -->
    <form method="POST">
    {% csrf_token %}
      <div class="row">
        <div class="col-xs-12">
         <p class="lead">PO Line Items</p>
        </div>
        
        <div class="col-xs-12">
            {{ receive_po_formset.management_form | crispy }}

            {% for form in receive_po_formset.forms %}                   
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <div class="item" id="{{form.prefix}}">
                    {% crispy form form.helper %}                                
                </div>                            
            {% endfor %}
        </div>
      </div><br>

      <!-- Footer -->
      <div class="row">
        <div class="row">
          <div class="col-xs-12">
            
            <div class="label text-grey">
                <form method="post">
                {% csrf_token %}    
                    <button type="submit" name="save" value="save" class="btn basic-teal-outline pull-right">Save Changes</button>
                    {% if user.buyer_profile.role == 'SuperUser' or user.buyer_profile.role == 'Approver' %}                                        
                        <button type="submit" name="close" value="close" class="btn basic-teal pull-right">Close PO</button>
                    {% endif %}                     
                </form>
            </div>

           </div>           
          </div>
        </div>

      </div>
    </form>

  </section>
  <div class="clearfix"></div>
   
   {% endwith %}
{% endblock content %}


{% block js %}
{% endblock js %}