{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Receive PO{% endblock title %}

{% block header %}
  <p class="small"><a href="{% url 'receive_pos' %}"><i class="fa fa-angle-left"></i> Back</a></p>
  <h1>PO Receive Details</h1>
{% endblock header %}


{% block content %}

  {% with purchase_order.get_latest_status as latest_status %}
  <section class="invoice">

    <!-- PO Header -->
    {% include "_includes/docs/doc_header.html" with document=purchase_order href='view_purchaseorder' %}
    
    <!-- PO Details -->
    {% include "_includes/pos/po_details.html" with purchase_order=purchase_order %}

    <!-- Order Item Form in Request -->
    <form method="POST">
    {% csrf_token %}
      <div class="row">
        <div class="col-xs-12">
         <p class="lead">PO Line Items</p>
        </div>
        
        <div class="col-xs-12">
            {{ receive_po_formset.management_form | crispy }}

            {% for form in receive_po_formset.forms %}                   
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <div class="item" id="{{form.prefix}}">
                    {% crispy form form.helper %}                                
                </div>                            
            {% endfor %}
        </div>
      </div><br>

      <!-- Footer -->
      <div class="row">
        <div class="row">
          <div class="col-xs-12">
            
            <div class="label text-grey">
                <form method="post">
                {% csrf_token %}    
                    <button type="submit" name="save" value="save" id="save" class="btn basic-teal-outline pull-right">Save Changes</button>

                    {% if purchase_order.is_ready_to_close and user.buyer_profile.role == 'SuperUser' or user.buyer_profile.role == 'Approver' %}                      
                        <button type="submit" name="close" value="close" class="btn basic-teal pull-right">Close PO</button>                      
                    {% endif %}
                </form>
            </div>

           </div>           
          </div>
        </div>

      </div>
    </form>

  </section>
  <div class="clearfix"></div>
   
   {% endwith %}
{% endblock content %}


{% block js %}
  <script>
    $(document).ready(function(){
      
      // Save Button is disabled on page load
      $('#save').attr('disabled', 'disabled');

      // Save Button is enabled only if any input field is changed
      $('.item :input').keyup(function() {
        $('#save').removeAttr('disabled');
      });

    })
  </script>
{% endblock js %}