{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}

{% block title %}Purchase Orders{% endblock title %}

{% block header %}
<h1>Purchase Order Details</h1>
{% endblock header %}


{% block content %}

  <section class="invoice">

    <div class="row">
      <div class="col-xs-12">        
        {% include "_includes/docs/print_or_email.html" with href_back='purchaseorders' href_print='print_po' document=purchase_order %}
      </div>
    </div>
    {% include "_includes/pos/po_template.html" with purchase_order=purchase_order %}

  </section>
  <div class="clearfix"></div>
   
{% endblock content %}
