{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}

{% block title %}Purchase Orders{% endblock title %}

{% block header %}Purchase Order Details
{% endblock header %}


{% block content %}

  <section class="invoice">

    <div class="row">
      <div class="col-xs-12">
        <a href="{% url 'purchaseorders' %}"><i class="fa fa-angle-left"></i> Back</a>
      </div>
    </div>

    {% include "_includes/po_template.html" with purchase_order=purchase_order %}

    {% include "_includes/print_or_email.html" with href='print_purchaseorder' document=purchase_order %}

  </section>
  <div class="clearfix"></div>
   
{% endblock content %}


{% block js %}
  {% include "_includes/dataTablesNotifications.html" %}
{% endblock js %}