/*******************
*****   ePROC   ****
*******************/
.basic-teal{
	background: #007777;
	color: white;
	margin: 5px;
}
.basic-grey{
	background: #d4d8dc;
	border-color: #d4d8dc;
	color: black;
	margin: 5px;
}
.basic-red{
	background: #dd4b39;
	border-color: #dd4b39;
	color: white;
	margin: 5px;
}
.alert{
	padding: 4px 6px 4px 10px !important;
}
#get-started{
	background-color: #f39c12; 
	margin: 5px;
	padding: 10px;
	border-radius: 3px;
}
.add-space{
	padding-left: 5px;
}
.text-grey{
	color:grey !important;
}
/*LABELS*/
.label-pending{
	background-color: #f39c12 !important;
}
.label-requested{
	background-color: #f39c12 !important;
}
.label-open{
	background-color: #d2d6de !important;
}
.label-approved{
	background-color: #00a65a !important;
}
.label-closed{
	background-color: #999 !important;
}
.label-paid{
	background-color: #00a65a !important;
}
.label-cancelled{
	border: 1px solid #999;
	color: #999;
	text-decoration: line-through;
}
.label-ordered{
	background-color: #00a65a !important;
}
.label-delivered{
	background-color: #00a65a !important;
}
.label-denied{
	background-color: #dd4b39 !important;
}
.label-drawndown{
	background-color: black !important;
}
.label-archived{
	background-color: #999 !important;  
	color: #34282C;
}

.label-large{
	font-size: 100% !important;
}

/******************* 
*****   HOME   ****
*******************/
.bucket{
	width: 100% !important;	
	padding: 15px;
	border: 15px;
	margin: 15px;
	border-radius: 5px;
}

.orange{
	background: orange;
}
.teal{
	background: teal;
}
.blue{
	background: blue;
}
.red{
	background: red;
}
