{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}
{% load eProc_filters %}

{% block title %}Products - Bulk Discounts{% endblock title %}

{% block css %}{% endblock css %}

{% block header %}
  <p class="small">{% include '_includes/back_to.html' with destination='settings' %}</p>
  
  <h1>Products - Bulk Discounts
  <small>Pre-negotiated at significant discounts for you</small>
  </h1>
{% endblock header %}

{% block content %}
<section class="content">
   <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">   

       <div class="box">

          <div class="box-header with-border">
            <h3 class="box-title">Recently Added Products</h3>
          </div>
          
          <div class="box-body">
            <ul class="products-list product-list-in-box">  
              
              {% for product in recent_bulk_products %}            
                
                {% include '_includes/products_bulk_item.html' with product=product %}

              {% endfor %}

            </ul>
          </div>
        </div>
        

       <div class="box">

          <div class="box-header with-border">
            <h3 class="box-title">List of All Products</h3>
          </div>

          <!-- PRODUCTS TABLE -->          
          <div class="box-body">  
            <table id="catalogTable" class="table table-striped">              
               {% include '_includes/table_header.html' with header_class='basic-grey' table_headers=table_headers %}
    
            <tbody class="products-list">
              {% for product in all_bulk_products %}           
                <tr id="{{product.id}}">
                  <td>{{product.category}}</td>
                  <td class="product-img"><img src="{{product.image.url}}" alt="{{product.name}}"/></td>
                  <td>{{product.name}}</td>
                  <td>{{ product.desc|truncatechars:15 }}</td>
                  <td>
                    {{product.unit_price|currency_formatting:product.currency}}
                    <span class="text-muted">{{product.unit_type|unit_type_formatting}}</span>
                  </td>
                  <td>
                    <form method="POST">
                    {% csrf_token %}
                        {% if user.buyer_profile.company in product.buyer_cos.all %}
                          <button type="submit" name="remove" value="remove_{{product.id}}" class="btn label label-warning label-large">Remove</button>  
                        {% else %}                          
                          <button type="submit" name="add" value="add_{{product.id}}" class="btn label label-primary label-large">Add</button>
                        {% endif %}
                      </form>
                  </td>
                </tr>
              {% endfor %}
            </tbody>

            </table>        
          </div>          

        </div>
      </div>
     </div>

  </section>
{% endblock content %}


{% block js %}    
{% include "_includes/dataTablesNotifications.html" with tableID="catalogTable" %} 
{% endblock js %}