{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}

{% block title %}Product Catalog {% endblock title %}

{% block css %}
{% endblock css %}

{% block header %}
	<p class="small">{% include '_includes/back_to.html' with destination='products' %}</p>
	<h1>Upload Product Catalog</h1>
{% endblock header %}


{% block content %}

  {% include "_includes/import_page.html" with source='Product Catalog' csv_form=csv_form template_file='product_import_template.csv' %}

{% endblock content %}


{% block js %}
{% endblock js %}    