  <div class="row invoice-info">
    <div class="col-sm-4 invoice-col">
      	<p class="lead">Vendor</p>
        <b>{{ purchase_order.vendor_co|upper }}</b><br>
        <em>{{ purchase_order.vendor_co.get_primary_location.get_address }}</em><br>
    </div>
     <div class="col-sm-4 invoice-col">
        <p class="lead">Address</p>
        BILLING<br><b> {{purchase_order.billing_add}}</b> <br>{{ purchase_order.billing_add.get_address }}<br><br>
        SHIPPING<br><b>{{purchase_order.shipping_add}}</b> <br> {{ purchase_order.shipping_add.get_address }}<br><br>
    </div>       
    <div class="col-sm-4 invoice-col">
      <p class="lead">Details</p>
      <table class="table no-border">
        <tbody>
          <tr>
            <td>Number </td>
            <td><b>{{ purchase_order.number }}</b></td>
          </tr>
          <tr>
            <td>Created </td>
            <td><b>{{ purchase_order.date_created|date:"D, M d Y" }}</b></td>
          </tr>
          <tr>
            <td>Due </td>
            <td><b>{{ purchase_order.date_due|date:"D, M d Y" }}</b></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div><br><br>