{% load staticfiles eProc_filters %}

  <thead class="basic-teal">
    <tr>
      <th class="col-md-1">PO</th>                        
      <th class="col-md-3">Date Due</th>                        
      <th class="col-md-2">Vendor</th>
      <th class="col-md-2">Total</th>
      <th class="col-md-2">Comments</th>
      <th class="col-md-2">Other Notes</th>
    </tr>
  </thead>
  
  <tbody>
  {% for po in purchaseorders %}  
  <tr>
    <td> 
      {% include "_includes/formatting/doc_status_formatting.html" with doc=po value_to_display=po.number href=href %}
    </td>
    <td>
      <b> {{ po.date_due }} </b>
      {% include '_includes/formatting/is_past_due.html' with obj=po %}<br>
      <em><small><b>Created:</b> {{ po.date_created|date:"D, M d Y" }}</small></em>      
    </td>                      
    <td>{{ po.vendor_co }} <br></td>
    <td> {{ po.get_ordered_grandtotal|currency_formatting:po.currency }}<br></td>
    <td> {{ po.comments }}<br></td>
    <td>
      <small>Prepared by: <b>{{ po.preparer.user.username }}</b></small><br>
      <small>Num. items: <b>{{ po.items.count }}</b></small>
    </td>
  </tr>
  {% endfor %}
  </tbody>