{% load staticfiles %}
{% load eProc_filters %}

  <thead class="basic-teal">
    <tr>
      <th class="col-md-1">PO</th>                        
      <th class="col-md-3">Date Due</th>                        
      <th class="col-md-2">Vendor</th>
      <th class="col-md-2">Total</th>
      <th class="col-md-2">Comments</th>
      <th class="col-md-2">Other Notes</th>
    </tr>
  </thead>
  
  <tbody>
  {% for po in purchaseorders %}           
  <tr>
    <td> 
      {% include "_includes/status_formatting_w_href.html" with item=po value_to_display=po.number href=href href_id=po.id %}
    </td>
    <td>
      <b> {{ po.date_due }} </b>
      {% include '_includes/is_past_due.html' with doc=po %}<br>
      <em><small><b>Created:</b> {{ po.date_created|date }}</small></em>      
    </td>                      
    <td>{{ po.vendor_co }} <br></td>
    <td> {{po.currency|currency_icon}} {{ po.grand_total }}<br></td>
    <td> {{ po.comments }}<br></td>
    <td>
      <small>Prepared by: <b>{{ po.preparer.user.username }}</b></small><br>
      <small>Num. items: <b>{{ po.items.count }}</b></small>
    </td>
  </tr>
  {% endfor %}
  </tbody>