

  <!-- PO Header -->
  {% include "_includes/docs/doc_header.html" with document=purchase_order href='view_po' %}
  
  <!-- PO Details -->
  {% include "_includes/pos/po_details.html" with purchase_order=purchase_order %}

  <!-- *****************
    Order Items Table
  ***************** -->
  {% include '_includes/pos/po_item_table.html' with order_items=purchase_order.items.all %}

  <!-- ***************************************
  Comments, Terms & Sub/Grand Total tables
  *************************************** -->
  
  {% include "_includes/comments_totals.html" with tableID="POTable" form=purchase_order currency=purchase_order.currency sub_total=purchase_order.get_ordered_subtotal grand_total=purchase_order.get_ordered_grandtotal %}

  <!-- *****************
       Footer
  ***************** -->
  <div class="row no-print">
    <div class="col-xs-12">
    
        <form method="post">
        {% csrf_token %}             
        
          <!-- Note: PO doesn't have approve_deny process -->
          {% if purchase_order.current_status == 'Open' %}
            
            <!-- Cancel only if not items have been delivered and user has auth priviledges -->
            {% if not purchase_order.has_received_delivery %}
              {% if buyer.role == 'SuperUser' or buyer.role == 'Purchaser' or buyer == purchase_order.preparer %}  
                <button type="submit" name="cancel" value="cancel" class="btn basic-grey pull-right"><i class="fa fa-times"></i> Cancel</button>
              {% endif %}                
            {% endif %}

            {% if purchase_order.is_ready_to_close %}
                <button type="submit" name="close" value="close" class="btn basic-teal pull-right">Close PO</button>
            {% endif %}

          {% endif %}
          <!-- purchase_order.current_status == 'Open' -->

          {% if purchase_order.current_status == 'Closed' %}
            {% if buyer.role == 'SuperUser' or buyer.role == 'Payer' %}
                <button type="submit" name="paid" value="paid" class="btn basic-teal pull-right"><i class="fa fa-check"></i> Mark as Paid</button>
            {% endif %}
          {% endif %}
        </form>

        <div class="label text-grey">
          {% with purchase_order.get_latest_status as latest_status and user.buyer_profile as buyer %}
          
            Status: <em>{% include "_includes/formatting/doc_status_formatting.html" with doc=purchase_order value_to_display=latest_status href='view_po' %} 
          
            [By {{latest_status.author}} on {{latest_status.date|date:"D, M d Y"}}]</em>

          {% endwith %}
        </div>        
    
    </div>
  </div>
  
