{% extends 'landing/_layouts/base_landing.html' %}
{% load staticfiles %}

{% block content %}

	<div class="timeline-wrapper">
		<div class="container">		

			{% includes 'landing/_includes/bucket.html' with icon="fa-check" color="orange" title="REQUEST" text="The requisition process begins with creating requests for purchase." %}	
			{% includes 'landing/_includes/bucket.html' with icon="fa-check" color="orange" title="REQUEST" text="The requisition process begins with creating requests for purchase." %}	
			{% includes 'landing/_includes/bucket.html' with icon="fa-check" color="orange" title="REQUEST" text="The requisition process begins with creating requests for purchase." %}	
			{% includes 'landing/_includes/bucket.html' with icon="fa-check" color="orange" title="REQUEST" text="The requisition process begins with creating requests for purchase." %}		

		</div>
	</div>

{% endblock %}