<div id="pricing">
	<div class="container">
		<div class="row header">
			<div class="col-md-12">
				<h3>No contract. Cancel when you want.</h3>
				<p>Your plan includes a 7-day free trial</p>
			</div>
		</div>
		<div class="row charts">					
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="chart featured">
					<!-- <div class="popular">Most popular</div> -->
					<div class="quantity">
						<span class="dollar">$</span>
						<span class="price">10</span>
						<span class="period">/user/month</span>
					</div>
					<div class="plan-name">Profesional</div>
					<div class="specs">
						<div class="spec">
							<span class="variable">15</span> team members
						</div>
						<div class="spec">
							<span class="variable">Digital</span> recurring billing
						</div>
						<div class="spec">
							<span class="variable">Virtual</span> online terminal
						</div>
						<div class="spec">
							<span class="variable">15</span> total products
						</div>
						<div class="spec">
							<span class="variable">0.5%</span> Transaction fee
						</div>
					</div>
					<a class="btn-signup button-clear" href="{% url 'register' %}">
						<span>Sign up now</span>
					</a>
				</div>
			</div>
			<div class="col-md-4"></div>						
		</div>
	</div>
</div>