{% extends '_layouts/base_portal.html' %}
{% load staticfiles eProc_filters %}

{% block title %}Spend by Entities{% endblock title %}

{% block css %}
{% endblock css %}

{% block header %}<h1>Spend by Entities</h1>{% endblock header %}

{% block content %}
<section class="content"> 

  {% if not items %}
    <!-- If no items have been delivered/received i.e no 'spend' -->
      {% include "_includes/docs/no_docs_add_now.html" with text="You haven't recorded any spend yet!" href='receive_pos' action='Receive items now' %}
      
  {% else %}
    <div class="row">
      <!-- Vendor charts -->
      {% include "_includes/analysis_chart.html" with chartID='vendorChart' title='Spend by Vendor - Total' %} 
      {% include "_includes/analysis_chart.html" with chartID='vendorChangeChart' title='Spend By Vendor - By Time Period' %}
      
      <!-- Approver charts -->
      {% include "_includes/analysis_chart.html" with chartID='approverChart' title='Spend by Approver - Total' %}
      {% include "_includes/analysis_chart.html" with chartID='approverChangeChart' title='Spend by Approver - By Time Period' %}

      <!-- Requester charts -->      
      {% include "_includes/analysis_chart.html" with chartID='requesterChart' title='Spend by Requester - Total' %}
      {% include "_includes/analysis_chart.html" with chartID='requesterChangeChart' title='Spend by Requester - By Time Period' %}
      
    </div> 
        
  {% endif %}

{% endblock content %}


{% block js %}
  <script src="{% static 'plugins/chartjs/Chart.min.js' %}"></script>  
  <script src="{% static 'dist/js/charts.js' %}"></script>  

  <script type="text/javascript">

    
    // GLOBAL Configurations
    Chart.defaults.global.responsive = true;
    Chart.defaults.global.maintainAspectRatio = true;
    Chart.defaults.global.legend.position = 'right';

    /****************** 
    Spend by Vendor      
    ********************/
    
    // SPEND BY VENDOR SNAP SHOT (PIE CHART)
    var vendor_spend_colors = []
    for (i=0; i<{{vendor_spend_labels|length}}; i++){
      vendor_spend_colors.push(pastelColors());
    }
    var vendorData = {
      labels: {{vendor_spend_labels|as_json}},
      datasets: [
        {
          data: {{vendor_spend_data}},
          backgroundColor: vendor_spend_colors,
        }
      ]
    };

    // Pass in data/options, generate chart & legend
    var vendorCtx = $("#vendorChart").get(0).getContext("2d");
    var vendorChart = new Chart(vendorCtx, {
      type: 'pie',
      data: vendorData,
      options: {},
    });


    // SPEND BY vendor CHANGE OVER TIME (BAR CHART)      
    // Autoescape: To escape special chars (here, it would have been &#39 in {{periods}})
    {% autoescape off %}  
    var vendorChangeData = {
      labels: {{periods|as_json}},
      datasets: [
        // Each one of these represents a vendor
        {% for key, value in vendor_period_spend_data.items %}
        {              
            label: "{{key|safe}}",
            data: {{value}},
            backgroundColor: pastelColors(),
        }, 
        {% endfor %}
      ]
    };      
    {% endautoescape %} 

    // Pass in data/options and generate chart
    var vendorChangeCtx = $("#vendorChangeChart").get(0).getContext("2d");
    var vendorChangeChart = new Chart(vendorChangeCtx, {
      type: 'bar',
      data: vendorChangeData,
      options: {
        scales: {
           xAxes: [{
                stacked: true,
           }],
           yAxes: [{
                stacked: true
           }]
        }
      },
    });


    /****************** 
    Spend by APPROVER      
    ********************/

    // SPEND BY APPROVER (PIE CHART)
    var approver_spend_colors = []
    for (i=0; i<{{approver_spend_labels|length}}; i++){
      approver_spend_colors.push(pastelColors());
    }
    var approverData = {
      labels: {{approver_spend_labels|as_json}},
      datasets: [
        {
          data: {{approver_spend_data}},
          backgroundColor: approver_spend_colors,
        }
      ]
    };

    // Pass in data/options, generate chart & legend
    var approverCtx = $("#approverChart").get(0).getContext("2d");
    var approverChart = new Chart(approverCtx, {
      type: 'pie',
      data: approverData,
      options: {},
    });


    // SPEND BY APPROVER CHANGE OVER TIME (BAR CHART)      
    // Autoescape: To escape special chars (here, it would have been &#39 in {{periods}})
    {% autoescape off %}  
    var approverChangeData = {
      labels: {{periods|as_json}},
      datasets: [
        // Each one of these represents a vendor
        {% for key, value in approver_period_spend_data.items %}
        {              
            label: "{{key|safe}}",
            data: {{value}},
            backgroundColor: pastelColors(),
        }, 
        {% endfor %}
      ]
    };      
    {% endautoescape %} 

    // Pass in data/options and generate chart
    var approverChangeCtx = $("#approverChangeChart").get(0).getContext("2d");
    var approverChangeChart = new Chart(approverChangeCtx, {
      type: 'bar',
      data: approverChangeData,
      options: {
        scales: {
           xAxes: [{
                stacked: true,
           }],
           yAxes: [{
                stacked: true
           }]
        }
      },
    });


    /****************** 
    Spend by REQUESTER      
    ********************/

    // SPEND BY REQUESTER (PIE CHART)
    var requester_spend_colors = []
    for (i=0; i<{{requester_spend_labels|length}}; i++){
      requester_spend_colors.push(pastelColors());
    }
    var requesterData = {
      labels: {{requester_spend_labels|as_json}},
      datasets: [
        {
          data: {{requester_spend_data}},
          backgroundColor: requester_spend_colors,
        }
      ]
    };

    // Pass in data/options, generate chart & legend
    var requesterCtx = $("#requesterChart").get(0).getContext("2d");
    var requesterChart = new Chart(requesterCtx, {
      type: 'pie',
      data: requesterData,
      options: {},
    });


    // SPEND BY REQUESTER CHANGE OVER TIME (BAR CHART)      
    // Autoescape: To escape special chars (here, it would have been &#39 in {{periods}})
    {% autoescape off %}  
    var requesterChangeData = {
      labels: {{periods|as_json}},
      datasets: [
        // Each one of these represents a vendor
        {% for key, value in requester_period_spend_data.items %}
        {              
            label: "{{key|safe}}",
            data: {{value}},
            backgroundColor: pastelColors(),
        }, 
        {% endfor %}
      ]
    };      
    {% endautoescape %} 

    // Pass in data/options and generate chart
    var requesterChangeCtx = $("#requesterChangeChart").get(0).getContext("2d");
    var requesterChangeChart = new Chart(requesterChangeCtx, {
      type: 'bar',
      data: requesterChangeData,
      options: {
        scales: {
           xAxes: [{
                stacked: true,
           }],
           yAxes: [{
                stacked: true
           }]
        }
      },
    });


  </script>
{% endblock js %}
