{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}

{% block title %}Invoices{% endblock title %}

{% block css %}
{% endblock css %}

{% block header %}<h1>Invoices</h1>{% endblock header %}

{% block content %}
<section class="content">
  <div class="row">
    <div class="col-xs-12">
        <div class="box">

          {% if not all_invoices %}
              <!-- If no requisitions have been created, CREATE NEW INVOICE -->
              {% include "_includes/docs/no_docs_add_now.html" with doc='Invoices' href='new_invoice' %}
              
          {% else %}
          <div class="nav-tabs-custom">

            <!-- TABS -->
            <ul class="nav nav-tabs">
              <li><a href="#all" data-toggle="tab">All</a></li>
              <li class="active"><a href="#pending" data-toggle="tab">Pending</a></li>
              <li><a href="#approved" data-toggle="tab">Approved</a></li>
              <li><a href="#denied" data-toggle="tab">Denied/Withdrawn</a></li>
              <li><a href="#paid" data-toggle="tab">Paid</a></li>
            </ul>          

            <!-- TABLES -->
            <div class="tab-content">
              <div class="tab-pane" id="all">
                 <table id="allTable" class="table table-striped">
                 {% include "_includes/invoices/invoice_table.html" with invoices=all_invoices %}
                  </table>
              </div>
              <div class="tab-pane active" id="pending"> 
                 <table id="pendingTable" class="table table-striped">
                 {% include "_includes/invoices/invoice_table.html" with invoices=pending_invoices %}
                  </table>
              </div>
              <div class="tab-pane" id="approved">
                 <table id="approvedTable" class="table table-striped">
                 {% include "_includes/invoices/invoice_table.html" with invoices=approved_invoices %}
                  </table>
              </div>
              <div class="tab-pane" id="denied">
                 <table id="deniedTable" class="table table-striped">
                 {% include "_includes/invoices/invoice_table.html" with invoices=denied_invoices %}
                  </table>
              </div>
              <div class="tab-pane" id="paid">
                 <table id="paidTable" class="table table-striped">
                 {% include "_includes/invoices/invoice_table.html" with invoices=paid_invoices %}
                  </table>
              </div>              
            </div>

          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </section>
{% endblock content %}

{% block js %}
  {% include "_includes/dataTablesNotifications.html" %}
  <script type="text/javascript">
  $(function () {
    $('#allTable').DataTable();
    $("#pendingTable").DataTable();
    $("#approvedTable").DataTable();
    $("#deniedTable").DataTable();
    $("#paidTable").DataTable();
  });
</script>
{% endblock js %}