{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load eProc_filters %}

{% block title %}New Invoice Record{% endblock title %}

{% block css %}
{% endblock css %}

{% block header %}
    <p class="small"><i class="fa fa-angle-left"> </i><a href="{% url 'new_invoice_items' %}"> Back to Step 1 </a></p>
    <h1>Create Invoice Record (Step 2 of 2)</h1>
{% endblock header %}

{% block content %}
<section class="content">

    <div class="box box-default">	    
        
        <div class="box-header with-border">
          <h3 class="box-title">New Invoice Record</h3>
        </div> 

         <div class="box-body">
            <form method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}            

                <p class="lead">Invoice Details</p>
                <div class="row">
        	       <div class="col-xs-2 col-md-4 col-lg-4">
        			     <div class="box-body no-padding">
                             <div class="form-group">
                                <h4> Vendor: <b><span id="vendorName"></span></b><h4>
                            </div>
                            <div class="form-group">
                              Invoice Number <br> {{invoice_form.number}}
                            </div>
                            <div class="form-group">
                              Invoice Date <br>{{invoice_form.date_issued}}
                            </div>
                            <div class="form-group">                        
                              Date Due <br>{{invoice_form.date_due}}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-1 col-md-2 col-lg-2">
                    </div>

                    <div class="col-xs-9 col-md-6 col-lg-6">
                        {% include '_includes/file_upload_form.html' with title='Upload Invoice Received from Vendor' form=invoice_file_form %}
                    </div>                  
                </div><br>


                <p class="lead" id="itemDetailsHeader">Item Details</p>
                <table id="itemsTable" class="table table-striped">
                     <!-- Don't use includes _includes/table_headers.html - doesn't seem to work -->
                     <thead>
                        <tr>
                          <th>Product</th>
                          <th>Quantity</th>
                          <th>Cost Per Unit</th>
                          <th>Sub-total</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {% for item in items %}    
                            {% with item.product.currency as currency %}                             
                            <tr class="item">
                                <td>{{item.product.name}}</td>
                                <td class="quantity">{{ item.qty_delivered }}</td>
                                <!-- Don't format this as currency because it would become a string
                                and that would cause a problem in subtotal & grandtotal calculations -->
                                <td class="unit_price">{{ item.price_ordered }}</td>
                                <td>{{ item.get_delivered_subtotal|currency_formatting:currency }}</td>
                            <tr>
                            {% endwith %}
                        {% endfor %}
                    </tbody>
                </table>

                <!-- ***********************************
                Comments, Terms & Sub/Grand Total tables 
                ***********************************  -->
                {% include "_includes/comments_totals.html" with tableID="InvoiceTable" form=invoice_form currency=currency %}

                <div class="row">
                    <div class="col-xs-12 col-lg-6 pull-right">
                        <div class="col-xs-4 col-lg-4"> 
                            <p class="lead">Next approver</p>
                        </div>
                        <div class="col-xs-8 col-lg-8"> 
                            {{invoice_form.next_approver}}<br>
                        </div>
                    </div>
                </div><br><br>
                
                <!-- Buttons to go SUBMIT or CANCEL -->
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" id="create" name="createInvoice" class="button btn basic-teal pull-right"><i class="fa {{ICONS.invoice}}"></i> Create Invoice</button>
                        <a href="{% url 'new_invoice_items' %}" name="cancel" class="button btn basic-grey pull-right">Cancel</a>
                    </div>
                </div>

            </form>            
        </div>             

    </div>

</section>
{% endblock content %}


{% block js %}  
    <script src="{% static 'dist/js/comments_totals.js' %}"></script>
{% endblock js %}









