{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}New Invoice{% endblock title %}

{% block css %}
{% endblock css %}

{% block header %}<h1>Create an Invoice Record</h1>{% endblock header %}

{% block content %}
<section class="content">

    <div class="box box-default">	    
        
        <div class="box-header with-border">
          <h3 class="box-title">Invoice Details</h3>
        </div> 

         <div class="box-body">
            <form method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
                <p class="lead">Invoice Details</p>
                <div class="row">
        	       <div class="col-xs-12 col-md-8 col-lg-8">
        			     <div class="box-body no-padding">
                            {% crispy invoice_form invoice_form.helper %}
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="box-body no-padding">
                            <div class="callout callout-info">
                            {% crispy file_form file_form.helper %}
                            </div>
                        </div>
                    </div>
                </div>
                <table id="invoiceOrdersTable" class="table table-striped">
                     <thead>
                        <tr>
                          <th>Product</th>
                          <th>Quantity</th>
                          <th>Cost Per Unit</th>
                          <th>Sub-total</th>
                          <th>Comments</th>
                        </tr>
                    </thead>
                    <tbody> 
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" class="button btn basic-teal pull-right"><i class="fa {{ICONS.invoice}}"></i> New Invoice</button>
                    </div>
                </div>
            </form>            
        </div>             

    </div>

</section>
{% endblock content %}


{% block js %}  
{% endblock js %}









