{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}
{% load eProc_filters %}

{% block title %}New Invoice{% endblock title %}

{% block css %}
{% endblock css %}

{% block header %}
	<p class="small">{% include '_includes/back_to.html' with destination='invoices' %}</p>
	<h1>Create an Invoice Record (Step 1 of 2)</h1>
{% endblock header %}

{% block content %}
<section class="content">
  <div class="row">
    <div class="col-xs-12">

    	<form method="POST" action="">
    	{% csrf_token %}

			<div class="pages">

				<div class="box" id="vendorBox">
					<div class="box-header with-border">
		          		<h3 class="box-title">Select Vendor</h3>
		          	</div>        	
		        	<div class="box-body">  
		        		<p class="lead">Invoice for vendor:</p> {{vendorForm}}
		        	</div>
	        	</div>


				<div class="box" id="itemsBox">
		        	<div class="box-header with-border">
		          		<h3 class="box-title">		          			
		          		</h3>
		          	</div>        	
		        	<div class="box-body">  
		        		<table id="orderTable" class="table table-striped">      	
			        		{% include "_includes/table_header.html" with header_class="basic-teal" table_headers=table_headers %}
							<tbody>					
								<!-- Filled in with AJAX request & JQUERY -->
							</tbody>
				  	  	</table>		  
		
					<!-- Button to go to new_po_confirm page -->
					<a href='{% url "new_invoice_confirm" %}'>
						<button type="input" id="next" class="btn basic-teal pull-right">
							Add Items to Invoice <i class="fa fa-angle-right"> </i> 
						</button>
					</a>	

		        </div>

			</form>

		 </div>
	  </div>
  </div>

</section>
{% endblock content %}

{% block js %}
  {% include "_includes/data_tables_notifications.html" with tableID="orderTable" %}	

     <script type="text/javascript">
    $(document).ready(function(){
      
      // itemBox is hidden on page load
      $('#itemsBox').hide();

      // Next Button is disabled on page load
      $('#next').attr('disabled', 'disabled');
      $('#next').addClass('disabled');

      // ON VENDOR SELECTION (vendorBox click);
      // a) show itemsBox and b) update the unbilled items based on vendor selected
      $('select').on('change', function(){
	    
      	// Get the selected vendor and it's ID from the dropdown
  	    var vendor_id = $('#vendorBox option:selected').val();
  	    var vendor = $('#vendorBox option:selected').text();
  	    	    
  	    $("#itemsBox").show();

  	    //Clear out all items in $('#orderTable tbody')
  		  $('#orderTable tbody').html('');

  	    // Update the unbilled items based on vendor selected
  	    $.ajax({
              url: '/settings/vendors/unbilled-items/'+vendor_id,
              type: 'get',
              success: function(data){            	
              	// Set the selected vendor's name in the title
              	$('#itemsBox .box-title').html('Select Unbilled Items from <b>'+vendor+'</b> to Add to Invoice ');

              	// Append the data
  				    $.each(data, function(key, value){            
                      $('#orderTable tbody').append(
                          '<tr>'+
                              '<td><input type="checkbox" name="order_items" id="'+this['id']+'" value="'+this['id']+'"/>&nbsp;</td>'+
                              '<td><span>'+this['purchase_order']+'</span></td>'+
                              '<td><span class="itemName">'+this['product']+'</span></td>'+
                              '<td><span class="itemQty">'+this['qty_delivered']+'</span></td>'+
                              '<td><span class="itemSubTotal">'+this['currency']+' '+this['get_delivered_subtotal']+'</span></td>'+
                          '<tr>'
                      );
                  }); 
              },
              error: function(data){
                  // If there's a bad selection (eg. -------)
                  $('#itemsBox .box-title').text('Sorry - no items available. Try again');
                  $('#orderTable tbody').text('No items');
              }
          })

	    });

      // Next Button is enabled only if at least one checkbox is selected
      // Delegating the event handler to #orderTable, instead of binding handlers directly on the dynamic elements ("input[type='checkbox']")      
      $("#orderTable").click(function() {
        if($("#orderTable input:checked").length > 0){
          $('#next').removeAttr('disabled');
          $('#next').removeClass('disabled');
        } else {
            $('#next').attr('disabled');
            $('#next').addClass('disabled');
        };
      });

    })
  </script> 
{% endblock js %}