{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}New Invoice{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/datepicker/datepicker3.css' %}">
{% endblock css %}

{% block header %}Create an Invoice Record{% endblock header %}

{% block content %}
<section class="content">

    <div class="box box-default">	    
        
        <div class="box-header with-border">
          <h3 class="box-title">Invoice Details</h3>
        </div> 

         <div class="box-body">
            <form method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
                <div class="row">
        	       <div class="col-xs-12 col-md-8 col-lg-8">
        			     <div class="box-body no-padding">
                            {% crispy invoice_form invoice_form.helper %}
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="box-body no-padding">
                            <div class="callout callout-info">
                            {% crispy file_form file_form.helper %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <input type="submit" value="CREATE INVOICE" class="button btn basic-teal pull-right"/>
                    </div>
                </div>
            </form>
        </div> 

    </div>

</section>
{% endblock content %}


{% block js %}  
<script src="{% static 'dist/js/custom.js' %}"></script> 
<script>
    $(document).ready(function(){
        // $('#div_id_purchase_order').hide();
        $("#id_purchase_order").prop("disabled", true);
        $('#selectVendor').on('click', function(){ 
            // $('#div_id_purchase_order').show();           
            $("#id_purchase_order").prop("disabled", false);
            var vendor_id = $('#div_id_vendor_co #id_vendor_co').val();
            $.ajax({
                url: '/invoices/'+vendor_id,
                type: 'get',
                success: function(data){
                    $('select[id=id_purchase_order]').html('');
                    $.each(data, function(key, value){
                        $('select[id=id_purchase_order]').append('<option value="' + this['pk'] + '">' + this['fields']['number'] +'</option>');
                    });
                },
                error: function(data){
                    console.log(data);
                }
            })
        })
    })
</script>  
{% endblock js %}









