{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load eProc_filters %}

{% block title %}New Invoice Record{% endblock title %}

{% block css %}
{% endblock css %}

{% block header %}
    <i class="fa fa-angle-left"> </i><a href="{% url 'new_invoice_items' %}"> Back to Step 1 </a>
    <h1>Create Invoice Record (Step 2 of 2)</h1>
{% endblock header %}

{% block content %}
<section class="content">

    <div class="box box-default">	    
        
        <div class="box-header with-border">
          <h3 class="box-title">New Invoice Record</h3>
        </div> 

         <div class="box-body">
            <form method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}            

                <p class="lead">Invoice Details</p>
                <div class="row">
        	       <div class="col-xs-12 col-md-8 col-lg-8">
        			     <div class="box-body no-padding">
                          Vendor: <b><span id="vendorName"></span></b><br><br>
                            {% crispy invoice_form invoice_form.helper %}
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="box-body no-padding">
                            <div class="callout callout-info">
                            {% crispy file_form file_form.helper %}
                            </div>
                        </div>
                    </div>
                </div><br>


                <p class="lead" id="itemDetailsHeader">Item Details</p>
                <table id="invoiceOrdersTable" class="table table-striped">
                     <!-- Don't use includes _includes/table_headers.html - doesn't seem to work -->
                     <thead>
                        <tr>
                          <th>Product</th>
                          <th>Quantity</th>
                          <th>Cost Per Unit</th>
                          <th>Sub-total</th>
                        </tr>
                    </thead>
                    <tbody> 
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" class="button btn basic-teal pull-right"><i class="fa {{ICONS.invoice}}"></i> Create Invoice Record </button>
                    </div>
                </div>
            </form>            
        </div>             

    </div>

</section>
{% endblock content %}


{% block js %}  
    <script type="text/javascript">
        $(document).ready(function(){

            $('#vendorName').html('{{vendor|upper}}');
            $('#vendorAdd').html('{{vendorAdd}}');

            {% for item in items %}                  
                $('#invoiceOrdersTable tbody').append(
                    '<tr>'+
                        '<td>'+'{{item.product.name}}'+'</td>'+
                        '<td>'+{{item.qty_requested}}+'</td>'+
                        '<td>'+{{item.unit_price}}+'</td>'+
                        '<td>'+parseInt({{item.qty_requested}})*parseInt({{item.unit_price}})+'</td>'+
                    '<tr>'
                );

            {% endfor %}
        });
    </script>

{% endblock js %}









