{% extends '_layouts/base_portal.html' %}
{% load staticfiles crispy_forms_tags %}

{% block title %}New Requisition{% endblock title %}

{% block css %}
{% endblock css %}

{% block header %}
    <p class="small">{% include '_includes/back_to.html' with destination='requisitions' %}</p>
    <h1>Create a New Request</h1>
{% endblock header %}

{% block content %}
<section class="content">

    {% with user.buyer_profile.company as company %}

        <!-- If set up (Vendors, Products, Categories, Account Codes etc) hasn't been completed -->
        {% if not company.vendor_cos.all %}        
            {% include "_includes/docs/no_docs_add_now.html" with text="You need to add Vendors to get started" href='vendors' action='Add one now' %}
        {% elif not company.categories.all %}
            {% include "_includes/docs/no_docs_add_now.html" with text="You haven't added any Categories yet" href='categories' action='Add one now' %} 
        {% elif not company.catalogitems.all %}
            {% include "_includes/docs/no_docs_add_now.html" with text="You haven't added any Products yet" href='products' action='Add one now' %} 
        {% elif not company.has_created_dept %}
            {% include "_includes/docs/no_docs_add_now.html" with text="Ooh one more... You haven't added any Departments yet" href='locations' action='Add one now' %} 
        {% elif not company.account_codes.all %}
            {% include "_includes/docs/no_docs_add_now.html" with text="Last one, we promise. You haven't added any Account Codes yet" href='account_codes' action='Add one now' %}                 

        <!-- If set up completed, only then show the New Requisition form -->
        {% else %}        

            <form method="POST">
            {% csrf_token %}            
            
                <!-- DEPARTMENT & NEXT APPROVER DROPDOWNS -->
                <div class="box box-default">	    
                    <div class="box-header with-border">
                      <h3 class="box-title">Order Details</h3>
                    </div>       
                     <div class="box-body">
                      <div class="row">
                    	<div class="col-xs-12">
            				<div class="box-body no-padding">
                                {% crispy requisition_form requisition_form.helper %}
            	            </div>
            	        </div>
            		</div> 
                    </div>
                </div>

                <!-- ORDER DETAILS -->
                <div class="box box-default">        
                    <div class="box-header with-border">
                      <h3 class="box-title">Order Items List</h3>
                    </div>
                    <div class="box-body">
                      <div class="row">
                    	<div class="col-xs-12">                
            				<div class="box-body">
                                {{ orderitem_formset.management_form | crispy }}
                                {% for form in orderitem_formset.forms %}
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                    <div class="item" id="{{form.prefix}}">
                                        {% crispy form form.helper %}
                                    </div>     
                                {% endfor %}
                                <a id="add" href="#"><i class="fa fa-plus"></i> Add Item</a>
            	           </div>
            	        </div>
            		  </div>
                      <button type="submit" class="button btn basic-teal pull-right">
                        <i class="fa {{ICONS.requisition}}"></i> Create Requisition 
                      </button>
                    </div>
                </div>        
            {% endif %}

        {% endwith %}
    </form>

</section>
{% endblock content %}


{% block js %}    
    <script>
        /******* 
        Dynamically updated the UNIT_PRICE of Product 
        in Order Item Formset based on Product Unit_Price
        *******/
        $(document).on('change','.product', function(){
            
            // Get the product_id of the element selected
            var product_id = $('option:selected', this).val();             

            // Get the DOM element for that row's unit-price field
            // and remove the first 4 chars ('div_')
            var price_dom_element = $(this).closest('.row').children('.unit_price').children().attr('id');

            var formCount = $('.item').length;
            price_dom_element = price_dom_element.substring(4, price_dom_element.length);
            
            // If 2nd or greater form, ID has 'div_' prepended
            if (formCount > 1){
                price_dom_element = 'div_' + price_dom_element;
            }

            // AJAX request to get the selected product's unit price and set it in the DOM element
            $.ajax({
                url: '/settings/products/'+product_id,
                type: 'get',
                success: function(data){      
                    // Set the unit price of that product on the DOM element
                    var price = parseInt(data[0]['fields']['unit_price']);
                    // If 2nd or greater form, need to select the input element because there's also a div with the same ID
                    if (formCount == 1){
                        $('#'+price_dom_element).val(price);
                    } else {
                        $('#'+price_dom_element+' :input').val(price);
                    }
                },
                error: function(data){
                    console.log(data);
                }
            })
        });
    </script>
{% endblock js %}

