{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}New Requisition{% endblock title %}

{% block css %}
{% endblock css %}

{% block header %}
<h1>Create a New Request</h1>
{% endblock header %}

{% block content %}
<section class="content">

    <form method="POST">
	{% csrf_token %}
        {{ orderitem_formset.management_form | crispy }}

        {% with user.buyer_profile.company as company %}

            <!-- If set up (Vendors, Products, Categories, Account Codes etc) hasn't been completed -->
            {% if not company.vendor_cos.all %}        
                {% include "_includes/docs/no_docs_add_now.html" with text="You haven't added any Vendors yet" href='vendors' action='Add one now' %}       
            {% elif not company.categories.all %}
                {% include "_includes/docs/no_docs_add_now.html" with text="You haven't added any Categories yet" href='categories' action='Add one now' %} 
            {% elif not company.catalog_items.all %}
                {% include "_includes/docs/no_docs_add_now.html" with text="You haven't added any Products yet" href='products' action='Add one now' %} 
            {% elif not company.account_codes.all %}
                {% include "_includes/docs/no_docs_add_now.html" with text="You haven't added any Account Codes yet" href='account_codes' action='Add one now' %}                 

            <!-- If set up completed, only then show the New Requisition form -->
            {% else %}        
            <!-- DEPARTMENT & NEXT APPROVER DROPDOWNS -->
            <div class="box box-default">	    
                <div class="box-header with-border">
                  <h3 class="box-title">Order Details</h3>
                </div>       
                 <div class="box-body">
                  <div class="row">
                	<div class="col-xs-12">
        				<div class="box-body no-padding">
                            {% crispy requisition_form requisition_form.helper %}
        	            </div>
        	        </div>
        		</div> 
                </div>
            </div>

            <!-- ORDER DETAILS -->
            <div class="box box-default">        
                <div class="box-header with-border">
                  <h3 class="box-title">Order Items List</h3>
                </div>
                <div class="box-body">
                  <div class="row">
                	<div class="col-xs-12">                
        				<div class="box-body">
                            {% for form in orderitem_formset.forms %}                   
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                                <div class="item" id="{{form.prefix}}">
                                    {% crispy form form.helper %}                                
                                </div>                            
                            {% endfor %}
                            <a id="add" href="#"><i class="fa fa-plus"></i> Add Item</a>
        	           </div>
        	        </div>
        		  </div>
                  <button type="submit" class="button btn basic-teal pull-right"><i class="fa {{ICONS.requisition}}"></i> Create Requisition </button>
                </div>
            </div>        
            {% endif %}

        {% endwith %}
    </form>

</section>
{% endblock content %}


{% block js %}    
    
    <script>
        /******* 
        Dynamically updated the UNIT_PRICE of Product 
        in Order Item Formset based on Product Unit_Price
        THIS IS NOT BEING USED FOR NOW
        IF IT IS USED AGAIN: 
        a) add unit_price in NewReqItemForm (forms.py) 
        b) remove item.unit_price = item.product.unit_price in utils.py
        *******/
        $('.item-product').change(function(){

            // Get the product_id of the element selected
            var product_id = $('option:selected', this).val(); 

            // Get the DOM element for that row's unit-price field and set the unit price
            var price_dom_element = $(this).parent().children('.item-price').children().attr('id');
            var price_dom_element = price_dom_element.substring(4, price_dom_element.length);

            // AJAX request to get the selected product's unit price and set it in the DOM element
            $.ajax({
                url: '/products/'+product_id,
                type: 'get',
                success: function(data){                    
                    var price = parseInt(data[0]['fields']['unit_price']);
                    console.log(price_dom_element);
                    $('#'+price_dom_element).val(price);
                },
                error: function(data){
                    console.log(data);
                }
            })

        });

        // Next_approver only from list of possible approvers
    </script>
{% endblock js %}

