{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}

{% block title %}Requests{% endblock title %}

{% block header %}<h1>Requisition Details</h1>{% endblock header %}


{% block content %}

  <section class="invoice">

    <div class="row">
      <div class="col-xs-12">
        {% include '_includes/back_to.html' with destination='requisitions' %}
        
        {% include "_includes/print_or_email.html" with href='print_requisition' document=requisition %}    
      </div>
    </div>
      
    {% include "_includes/requisition_template.html" with requisition=requisition %}    
    
    </section>       
    <div class="clearfix"></div>

{% endblock content %}
