{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}

{% block title %}Catalog{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock css %}

{% block header %}Product Catalog{% endblock header %}

{% block content %}
<section class="content">
  <div class="row">
    <div class="col-xs-12">
        <div class="box">

            <div class="box-body">
                {% include "_includes/table_header.html" with tableID="catalogTable" header_class="basic-teal" header=table_headers %}
                <tbody>              
                    {% for product in products %}                           
                    <tr>
                      <td>{{ product.name }}</td>
                      <td>{{ product.sku }}</td>
                      <td>{{ product.desc }}</td>
                      <td>{{ product.currency | upper}} {{ product.unit_price }} / {{ product.unit_type }}</td>
                      <td>{{ product.category }}</td>
                      <td>{{ product.vendorCo }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table><br>

              <button type="button" class="btn basic-teal pull-right" data-toggle="modal" data-target="#addModal">Add Product</button>
              {% include "_includes/modal_singleform.html" with target="Product" form=product_form %}
              <a href="{% url 'upload_product_csv' %}"><button type="button" class="btn basic-grey pull-right">Upload Product Catalog CSV</button></a>
          </div>

        </div>
       </div>
    </div>
  </section>
{% endblock content %}


{% block js %}
  {% include "_includes/dataTablesNotifications.html" with tableID="catalogTable" %}
{% endblock js %}