{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}

{% block title %}Departments{% endblock title %}

{% block css %}
{% endblock css %}

{% block header %}Departments{% endblock header %}

{% block content %}
<section class="content">
  <div class="row">

  </div>

  <div class="row">
    <div class="col-xs-12">
        <div class="box">
           <table class="table table-striped">
              <thead>
                <tr>
                  <th>Department Name</th>
                </tr>
              </thead>
              
                <tbody>              
                  {% for department in departments %}                           
                    <tr class="department_formset">
                      <td>{{ department.name }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>  

              <button type="button" class="btn basic-teal pull-right" data-toggle="modal" data-target="#addModal">Add Department</button>
              {% include "_includes/add_modal.html" with target="Department" form=department_form action="departments"%}
        </div>
       </div>
    </div>
  </section>
{% endblock content %}





{% block js %}
{% endblock js %}
