{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}

{% block title %}Settings{% endblock title %}

{% block css %}
{% endblock css %}

{% block header %}<h1>Settings</h1>{% endblock header %}

{% block content %}
<section class="content">
   <div class="row">

	<div class="col-xs-12 col-md-6 col-lg-6">
	  <div class="box box-default">     
	    <div class="box-header with-border">
	      <h3 class="box-title">Company</h3>
	    </div>       
	    <div class="box-body">          
          {% if user.buyer_profile.role == 'SuperUser' %}
            <h4><a href="{%url 'locations' %}"><i class="fa {{ICONS.locations}}"></i> Locations</a></h4>
            <p class="text-muted">Manage locations and corresponding departments</p>
            
            <h4><a href="{%url 'users' %}"><i class="fa {{ICONS.users}}"></i> Users</a></h4>
            <p class="text-muted">View all users by department/location</p>  

            <h4><a href="{%url 'company_profile' %}"><i class="fa {{ICONS.locations}}"></i> Company Profile</a></h4>
            <p class="text-muted">Manage company profile details</p>           

          {% endif %}    

            <h4><a href="{%url 'user_profile' %}"><i class="fa {{ICONS.profile}}"></i> Profile</a></h4>
            <p class="text-muted">Manage your own profile details</p> 
	    </div>        
	  </div>    
	</div>

	<div class="col-xs-12 col-md-6 col-lg-6">
	  <div class="box box-default">     
	    <div class="box-header with-border">
	      <h3 class="box-title">Operations</h3>
	    </div>       
	    <div class="box-body">          
            <!-- No restrictions on who can add vendors/products/categories if not in the list -->
            <h4><a href="{%url 'vendors' %}"><i class="fa {{ICONS.vendors}}"></i> Vendors</a></h4>
            <p class="text-muted">Manage vendors incl. ratings and bulk CSV upload</p>
                        
            <h4><a href="{%url 'categories' %}"><i class="fa {{ICONS.products}}"></i> Product Categories</a></h4>
            <h5>Manage product categories</h5>

            <h4><a href="{%url 'products' %}"><i class="fa {{ICONS.products}}"></i> Products</a></h4>
            <p class="text-muted">Manage own product list incl. CSV upload</p>

            <h4><a href="{%url 'products_bulk' %}"><i class="fa {{ICONS.products_bulk}}"></i> Products - Bulk Discounts</a></h4>
            <p class="text-muted">Select products at lower, pre-negotiated prices</p>
        
        {% if user.buyer_profile.role == 'SuperUser' or user.buyer_profile.role == 'Purchaser' %}
            <h4><a href="{%url 'account_codes' %}"><i class="fa {{ICONS.accounts}}"></i> Chart of Accounts</a></h4>
            <p class="text-muted">Manage Chart of Accounts</p>

            <h4><a href="{%url 'approval_routing' %}"><i class="fa {{ICONS.approval}}"></i> Approval Routing</a></h4>
            <p class="text-muted">Manage approvers and threshold amounts</p>            

          {% else %}
          	<p class="text-muted">You don't have access rights to Operations Settings</p>
          {% endif %}          
	    </div>        
	  </div>    
	</div>

  </div>    
</section>
{% endblock content %}