{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}

{% block title %} Users {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock css %}

{% block header %}Users{% endblock header %}

{% block content %}
<section class="content">
  <div class="row">
    <div class="col-xs-12">
        <div class="box">

            <div class="box-body">
              {% include "_includes/table_header.html" with tableID="userTable" header_class="basic-teal" header=table_headers %}            
                <tbody>
                    {% for user in users %}           
                    <tr>
                      <td>{{ user.user.username }}</td>
                      <td>{{ user.user.email }}</td>                      
                      <td>{{ user.get_role_display }}</td>                      
                      
                        <form method="POST">
                          {% csrf_token %}
                          <td>
                          {% if user.buyer_profile.role == 'SuperUser' %}
                          <button type="submit" name="delete" value="{{user.id}}"><i class="fa fa-trash"></i></button>
                          {% endif %}
                          </td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
            <br>

            <button type="button" class="btn basic-teal pull-right" data-toggle="modal" data-target="#addModal">Add User</button>  
            {% include "_includes/modal_multiform.html" with target="User" form1=user_form  form2=buyer_profile_form %}            
            
            </div>

          </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block js %}
  {% include "_includes/dataTablesNotifications.html" with tableID="userTable" %}
{% endblock js %}  
