{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}

{% block title %} Users {% endblock title %}

{% block css %}{% endblock css %}

{% block header %}
  <p class="small">{% include '_includes/back_to.html' with destination='settings' %}</p>
  <h1>Users</h1>
{% endblock header %}

{% block content %}
<section class="content">
  <div class="row">
    <div class="col-xs-12">
        <div class="box">

            <div class="box-header with-border">
              <h3 class="box-title">Users across all Locations & Depts</h3>
            </div>

            <div class="box-body">
              <table id="userTable" class="table table-striped">
              {% include "_includes/table_header.html" with header_class="basic-teal" header=table_headers %}            
                <tbody>
                    {% for buyer in buyers %}           
                    <tr>
                      <td>{{ buyer.user.username }}</td>
                      <td>{{ buyer.user.email }}</td>                      
                      <td>{{ buyer.role }}</td> 
                      <td><a href="{% url 'view_location' buyer.location.id buyer.location.name|slugify %}">{{ buyer.location }}</a></td> 
                      <td>{{ buyer.department }}</td> 
                      <td>{% if buyer.user.is_active %} 
                          <span class="label label-success"> Active </span>
                          {% else %} 
                          <span class="label label-warning"> Pending </span>
                          {% endif %}
                      </td> 
                      <td>
                        <form method="POST">
                          {% csrf_token %}
                          {% if user.buyer_profile.role == 'SuperUser' and buyer.role != 'SuperUser' %}
                            <button type="submit" name="delete" value="{{buyer.id}}"><i class="fa fa-trash"></i></button>
                          {% endif %}
                        </form>
                      </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
              <br>         
            
            </div>

          </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block js %}
  {% include "_includes/dataTablesNotifications.html" with tableID="userTable" %}
{% endblock js %}  
