{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}

{% block title %}Profile {% endblock title %}

{% block css %}
{% endblock css %}

{% block header %}Profile Settings{% endblock header %}


{% block content %}
<section class="content">
  <div class="row">
      	<div class="col-lg-12">
    		{% include "_includes/profile_form_image.html" with title='Profile' image='dist/img/photo4.jpg' form=user_form formhelper=user_form.helper buttonName='user' %}
    	</div>
  </div>
</section>
  
    

{% endblock content %}


{% block js %}
{% endblock js %}    