{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}

{% block title %}Profile {% endblock title %}

{% block css %}
{% endblock css %}

{% block header %}Profile Settings{% endblock header %}


{% block content %}
    
    {% include "_includes/profile.html" with profile="user" image="dist/img/photo4.jpg" fname=user_form.first_name lname=user_form.last_name role=buyer_profile.role department=buyer_profile.department email=user_form.email %}

{% endblock content %}


{% block js %}
{% endblock js %}    