{% extends '_layouts/base_portal.html' %}
{% load staticfiles crispy_forms_tags %}

{% block title %}User Details{% endblock title %}

{% block css %}{% endblock css %}

{% block header %}
  <p class="small">
    <i class="fa fa-angle-left"> </i>
    <a href="{% url 'view_location' buyer_profile.location.id buyer_profile.location.name|slugify %}"> Back to {{buyer_profile.location.name}} </a>
  </p>
  <h1>User Details</h1>
{% endblock header %}

{% block content %}
<section class="content">
    <div class="row">

    <!-- User details -->
    <div class="col-lg-6">
     <div class="box box-widget widget-user">
        <form method="POST" id="post-form">
        {% csrf_token %}          
          
          <div class="widget-user-header bg-gray">
            <h3 class="widget-user-username">{{buyer_profile.user.username}}</h3>
          </div>
          <div class="widget-user-image">
            <img class="img-circle" src="{% static 'dist/img/photo4.jpg' %}" alt="{{user.username}}">
          </div>

          <div class="box-footer">
            {% with buyer_profile.user as user %}
              {% crispy user_form user_form.helper %}
              {% crispy buyer_profile_form buyer_profile_form.helper %}  
              <button type='submit' class='button btn basic-teal pull-right'>Update User </button>
            {% endwith %}
           </div>
          
        </form>
      </div>
    </div> 

    <!-- List of user_activity -->
    {% include "_includes/user_activity.html" %}

  </div>
</section>
{% endblock content %}

{% block js %}  
{% endblock js %}
