{% load eProc_filters %}

<!-- *****************
  Request Header
***************** -->
<!-- Used in view_ and print_ -->
{% include "_includes/docs/doc_header.html" with document=requisition href='view_requisition' %}

<!-- *****************
  Request Details
***************** -->
<div class="row invoice-info">
	<div class="col-sm-6 invoice-col">
    <p class="lead">Requester Info</p>
    Requested by:<b> {{ requisition.preparer }}</b><br>
    Location:<b> {{ requisition.location }}</b><br>
    Department: <b>{{ requisition.department }}</b><br>             
  </div>
<div class="col-sm-6 invoice-col">
    <p class="lead">Details</p>
    Next Approver:<b> {{ requisition.next_approver }}</b><br>
    Date Requested:<b> {{ requisition.date_issued | date }}</b><br>
    <!-- get_date_as_string is a custom filter (see templatetags/eProc_filters.py) -->
    Date Due:<b> {{ requisition.date_due | get_date_as_string }}</b><br> 
  </div>  
</div><br><br>


<!-- *****************
  Order Items Table
***************** -->
  <div class="row">
    <div class="col-xs-12">
     <p class="lead">Line Items</p>
    </div>
    <div class="col-xs-12 table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity Requested</th>
            <th>Unit Price</th>
            <th>Sub Total</th>
            <th>Comments</th>
          </tr>
        </thead>

        <tbody>        
          {% for item in requisition.items.all %}
            <!-- currency_icon is a custom filter (see templatetags/eProc_filters.py) -->
            {% with item.product.currency|currency_icon as currency %}
            <tr id="orderItemList">
              <td id="">{{ item.product.name }}</td>
              <td>{{ item.qty_requested }}</td>              
              <td>{{ currency }} {{ item.unit_price }}</td>
              <td>{{ currency }} {{ item.get_requested_subtotal }}</td>
              <td>{{ item.comments_request }}</td>
            </tr>
            {% endwith %}
          {% endfor %}          
        </tbody>
      </table>
    </div>
  </div><br>

<!-- *****************
  Comments & Totals
***************** -->
<div class="row">              
  <div class="col-xs-12 col-md-8">
    <p class="lead">Other</p>
    <p>COMMENTS: <br>{{requisition.comments}}</p>
  </div>        

  <div class="col-xs-12 col-md-4">
    <p class="lead">Total Cost: {{ requisition.currency|currency_icon }} {{ requisition.sub_total }}</p>
  </div>
</div><br>

<!-- *****************
  Footer
***************** -->
<div class="row no-print">
  <div class="col-xs-12">
  {% with requisition.get_latest_status as latest_status %} 
    <!-- If req is PENDING -->
    {% if latest_status.value == 'Pending' %}
      <!-- Approve/Deny if user is APPROVER/SUPERUSER and APPROVAL_THRESHOLD > requistion.sub_total -->
      <!-- Cancel if user is PREPARER/SUPERUSER  -->
      {% include "_includes/approve_deny_cancel.html" with document=requisition is_requisition=True user_role='Approver' %}
    {% else %}
        <div class="label text-grey">
          Status: <em>{% include "_includes/status_formatting_w_href.html" with item=requisition value_to_display=latest_status href='view_requisition' href_id=requisition.id %}</b> [By {{latest_status.author}} on {{latest_status.date|date}}]</em>
        </div>
    {% endif %}          
  </div>
</div>
{% endwith %}














