{% load eProc_filters %}

<div class="row invoice-info">
    <div class="col-sm-5 invoice-col">
        <p class="lead">Requester Info</p>
        <table class="table no-border">
            <tbody>
              <tr>
                <td>Requested by </td>
                <td><b>{{ requisition.preparer }}</b></td>
              </tr>
              <tr>
                <td>Location </td>
                <td><b>{{ requisition.department.location }}</b></td>
              </tr>
              <tr>
                <td>Department by </td>
                <td><b>{{ requisition.department }}</b></td>
              </tr>
              </tbody>  
        </table>       
    </div>

    <div class="col-sm-2 invoice-col"></div>
    
    <div class="col-sm-5 invoice-col">
        <p class="lead">Details</p>

        <table class="table no-border">
            <tbody>
              <tr>
                <td>Next Approver </td>
                <td><b>{{ requisition.next_approver }}</b></td>
              </tr>
              <tr>
                <td>Date Due </td>
                <td><b>{{ requisition.date_created|date:"D, M d Y" }}</b></td>
              </tr>
              <tr>
                <td>Date Due </td>
                <td><b>{{ requisition.date_due|date:"D, M d Y" }}</b></td>
              </tr>
              <tr>          
                <td>Comments </td>
                <td><b>{{ requisition.comments }}</b></td>
            </tbody>
          </table>
      </div>  
</div><br><br>