{% load eProc_filters %}

<div class="row invoice-info">
	<div class="col-sm-6 invoice-col">
    <p class="lead">Requester Info</p>
    Requested by:<b> {{ requisition.preparer }}</b><br>
    Location:<b> {{ requisition.location }}</b><br>
    Department: <b>{{ requisition.department }}</b><br>             
  </div>
<div class="col-sm-6 invoice-col">
    <p class="lead">Details</p>
    Next Approver:<b> {{ requisition.next_approver }}</b><br>
    Date Created:<b> {{ requisition.date_created | date }}</b><br>
    <!-- get_date_as_string is a custom filter (see templatetags/eProc_filters.py) -->
    Date Due:<b> {{ requisition.date_due | get_date_as_string }}</b><br> 
  </div>  
</div><br><br>