{% load staticfiles %}
{% load eProc_filters %}

  <thead class="basic-teal">
    <tr>
      <th>Request Order</th>                        
      <th>Details</th>                        
      <th>Department</th>
      <th>Comments</th>
      <th>Total</th>
    </tr>
  </thead>
  
  <tbody>
  {% for requisition in requisitions %}    
    <tr>
      <td>
        {% include "_includes/formatting/status_formatting_w_href.html" with item=requisition value_to_display=requisition.number href='view_requisition' %}</b> <br>      
        <small><b>Requested by:</b> {{ requisition.preparer.user.username }}</small>       
      </td>
      <td>
        DATE DUE: <b> {{ requisition.date_due|date:"D, M d Y" }} </b>
           {% include '_includes/formatting/is_past_due.html' with obj=requisition %}
           <br>
        <p class="text-muted">Requested:{{ requisition.date_created | date }}</p>
      </td>                      
      <td> 
        {{ requisition.department }} [{{ requisition.department.location }}]
      <td> 
        {{ requisition.comments }}         
      </td>
      <td> {{ requisition.currency }} {{ requisition.sub_total }}<br>
        <em><small><b>Num. items:</b> {{ requisition.items.count }}</small></em>
      </td>
    </tr>
  {% endfor %}
  </tbody>
