{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <title>{% block title %}Error{% endblock title %}</title>
    
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"> 
    <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">

  </head>

  <body class="hold-transition skin-teal sidebar-mini">
    
      <section class="content-header"></section>    
              
        <section class="content">
          <div class="error-page">
          	{% block content %}
          	{% endblock content %}
          </div>
          
      </section>
    
  </body>
</html>