{% load staticfiles %}
{% load humanize %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Genie{% endblock title %}</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <!-- Shared Stylesheets -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"> 
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">

    <!-- Stylesheets for AdminLTE theme -->
    <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/_all-skins.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/skin-teal.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
    {% block css %}{% endblock css %}

  </head>

  <body class="hold-transition skin-teal sidebar-mini">
    <div class="wrapper">

      <header class="main-header">
        <!-- Logo -->
        <a href="{%url 'dashboard' %}" class="logo">      
            <span class="logo-mini">Genie</span><!-- mini logo for sidebar mini 50x50 pixels -->
            <img src="{% static 'favicon.ico' %}" alt="User Image" class="logo-custom"/>
            <span class="logo-lg">Genie</span><!-- logo for regular state and mobile devices -->
        </a>

        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
              <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
              <ul class="nav navbar-nav">            
                
                <li class="dropdown user user-menu">
                  {% if user.buyer_profile.role == 'SuperUser' and not user.buyer_profile.company.is_subscribed %} 
                  <a href="{% url 'subscribe' %}">
                    <span class="pull-right-container">{{user.buyer_profile.company.days_to_trial_over}} DAYS LEFT!</span>
                  </a>
                  {% endif %}
                </li>  

                <li class="dropdown user user-menu">
                  {% if user.buyer_profile.role == 'SuperUser' %} 
                  <a href="{% url 'get_started' %}" id="get-started">
                    <span class="pull-right-container">GET STARTED</span>
                  </a>
                  {% endif %}
                </li>   

               <li class="dropdown notifications-menu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">                    
                    <i class="fa fa-bell-o"></i>
                    <!-- Only show counter if there are unread notifications -->
                    {% if unread_notifications.count > 0 %}
                      <span class="label label-warning">{{unread_notifications.count}}</span>
                    {% endif %}
                  </a>

                  <ul class="dropdown-menu">                
                      <li>   
                      <!-- inner menu: contains the actual data -->
                      {% if unread_notifications.count > 0 %}
                      <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: auto;">
                        <ul class="menu" style="overflow: hidden; width: 100%; height: 100%;">
                          <li class="header">
                            <a href="{% url 'mark_notifications_as_read' %}">Mark all as read</a>
                          </li>
                          
                          {% for notification in unread_notifications.list %}
                          <li>
                            {% with notification.category as category %}
                              <a {% if notification.target %} href="{% url notification.target %}"{% endif %}>
                              <i class="fa
                                {% if notification.category == 'Info' %} {{ICONS.Info}}
                                {% elif notification.category == 'Success' %} {{ICONS.Success}}
                                {% elif notification.category == 'Warning' %} {{ICONS.Warning}}
                                {% elif notification.category == 'Error' %} {{ICONS.Error}} {% endif %}">
                                </i>{{notification.text}}
                              </a>
                            {% endwith %}
                          </li>
                          {% endfor %}

                        </ul>
                        <div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 3px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 195.122px;">
                        </div>
                        <div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;">
                        </div>
                      </div>
                      {% endif %}
                    </li>                    
                  </ul>
                </li>

                <li class="dropdown user user-menu">
                  <a href="{% url 'logout' %}">
                    <span class="hidden-xs">Sign out</span>
                    <span class="pull-right-container"><i class="fa {{ICONS.drawdown}}"></i></span>                
                  </a>
                </li>
              </ul>
            </div>
        </nav>
      </header>

      <!-- Sidebar -->
      <aside class="main-sidebar">
        <section class="sidebar">

          <!-- user -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="{% static 'dist/img/photo4.jpg' %}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>{{user.username}} [{{user.buyer_profile.role}}]</p>              
            </div>
          </div>

          <!-- menu:-->
          <ul class="sidebar-menu">

            <!--************************
            ********  DASHBOARD  ********   
            **************************-->
            <!-- everyone has access -->
            <li class="treeview {% if request.resolver_match.url_name == 'dashboard' %} active {% endif %}">
              <a href="{% url 'dashboard' %}">
                <i class="fa {{ICONS.dashboard}}"></i> 
                <span>Dashboard</span>
              </a>
            </li>        
            
            <!--************************
            ******  REQUISITIONS  ******   
            **************************-->
            <!-- everyone has access to create req / view status-->          
            <li class="treeview {% if 'requisitions' in request.path %} active {% endif %}">
              <a href="#">
                <i class="fa {{ICONS.requisition}}"></i> 
                <span>Requests</span>
                <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
              </a>
              <ul class="treeview-menu">
                <li class="{% if request.resolver_match.url_name == 'new_requisition' %} active {% endif %}">
                  <a href="{% url 'new_requisition' %}">
                    <i class="fa {{ICONS.new}}"></i> New Order
                  </a>
                </li>
                <li class="{% if request.resolver_match.url_name == 'requisitions' or request.resolver_match.url_name == 'view_requisition' %} active {% endif %}">
                  <a href="{% url 'requisitions' %}">
                  <!-- only superuser & approver have access to approve (managed in view_req) -->
                  <i class="fa {{ICONS.requisition}}"></i> 
                  {% if user.buyer_profile.role == 'SuperUser' or user.buyer_profile.role == 'Approver' %}
                    View/Approve Orders
                  {% else %}
                    View Order Status
                  {% endif %}
                  </a>
                </li>
              </ul>
            </li> 

            <!--***************************
            ******  PURCHASE ORDERS  ******   
            *****************************-->
            {% if user.buyer_profile.role == 'SuperUser' or user.buyer_profile.role == 'Purchaser' %}
              <li class="treeview {% if 'purchase-orders' in request.path %} active {% endif %}">
                <a href="#">
                  <i class="fa {{ICONS.po}}"></i> <span>Purchase Orders</span>
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
                <ul class="treeview-menu">
                  <li class="{% if request.resolver_match.url_name == 'new_po_items' %} active {% endif %}">
                    <a href="{%url 'new_po_items' %}"><i class="fa {{ICONS.new}}"></i> New PO</a>
                  </li>
                  <li class="{% if request.resolver_match.url_name == 'purchaseorders' %} active {% endif %}">
                    <a href="{%url 'purchaseorders' %}"><i class="fa {{ICONS.po}}"></i> Purchase Orders</a>
                  </li>
                </ul>
              </li>   
            {% endif %}

            <!--****************************
            ******  RECEIVE DELIVERY  ******   
            ******************************-->
            {% if user.buyer_profile.role == 'SuperUser' or user.buyer_profile.role == 'Receiver' %}
              <li class="treeview {% if 'receive' in request.path %} active {% endif %}">
                <a href="{%url 'receive_pos' %}">
                  <i class="fa {{ICONS.receive}}"></i> 
                  <span>Receive Items</span>
                </a>
              </li>
            {% endif %}

            <!--****************************
            *****  INVOICES (Payer/AP) *****
            ******************************-->
            
            {% if user.buyer_profile.role == 'SuperUser' or user.buyer_profile.role == 'Payer' %}
              <li class="treeview {% if 'accounts-payable' in request.path %} active {% endif %}">
                <a href="#">
                  <i class="fa {{ICONS.payment}}"></i> <span>Accounts Payable</span>
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
                <ul class="treeview-menu">
                  <li class="treeview {% if 'invoices' in request.path %} active {% endif %}">
                    <a href="{% url 'invoices' %}">
                      <i class="fa {{ICONS.payment}}"></i> Invoices
                    </a>
                  </li>
                  <li class="treeview {% if 'debit_notes' in request.path %} active {% endif %}">
                    <a href="{% url 'debit_notes' %}">
                      <i class="fa {{ICONS.debit_note}}"></i> Debit Notes
                    </a>
                  </li>             
                  <li class="treeview {% if request.resolver_match.url_name == 'unbilled_items' %} active {% endif %}">
                    <a href="{% url 'unbilled_items' %}">
                      <i class="fa fa-align-left"></i> Unbilled Items
                    </a>
                  </li>
                  <li class="treeview {% if request.resolver_match.url_name == 'receiving_summary' %} active {% endif %}">
                    <a href="{% url 'receiving_summary' %}">
                      <i class="fa {{ICONS.receive}}"></i> Receiving Summary
                    </a>
                  </li>                  
                </ul>
              </li> 
            {% endif %}

            <!--************************
            ******  DRAWDOWNS  ******   
            **************************-->
            <!-- everyone has access to create / view status-->             
            <li class="treeview {% if 'drawdowns' in request.path %} active {% endif %}">
              <a href="#">
                <i class="fa {{ICONS.drawdown}}"></i> <span>Drawdowns</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li class="treeview {% if request.resolver_match.url_name == 'new_drawdown' %} active {% endif %}">
                  <a href="{%url 'new_drawdown' %}">
                    <i class="fa {{ICONS.new}}"></i> New Request
                  </a>
                </li>
                <li class="treeview {% if request.resolver_match.url_name == 'drawdowns' %} active {% endif %}">
                  <a href="{%url 'drawdowns' %}">
                  <i class="fa {{ICONS.drawdown}}"></i>
                  <!-- only superuser & approver have access to approve (managed in view_drawdown) -->
                  {% if user.buyer_profile.role == 'SuperUser' or   user.buyer_profile.role == 'Approver' %}
                    View/Approve DDs
                  {% else %}
                    View Drawdowns
                  {% endif %}
                  </a>
                </li>
                <li class="treeview {% if request.resolver_match.url_name == 'call_drawdowns' or request.resolver_match.url_name == 'call_drawdown' %} active {% endif %}">
                  <a href="{%url 'call_drawdowns' %}">
                  <i class="fa fa-hourglass-half"></i>
                  <!-- After items are approved, keep track of quantity actually taken out of inventory -->
                    Call A Drawdown
                  </a>
                </li>                
              </ul>
            </li>     

            <!--****************************
            *********  INVENTORY  **********   
            ******************************-->
            {% if user.buyer_profile.role == 'SuperUser' or user.buyer_profile.role == 'Inventory Manager' %}
              <li class="treeview {% if 'inventory' in request.path %} active {% endif %}">
                <a href="{%url 'inventory' %}">
                  <i class="fa {{ICONS.inventory}}"></i> 
                  <span>Inventory Stock</span>
                </a>
              </li>
            {% endif %}          

            <!--****************************
            *********  REPORTS & ANALYSIS  **********   
            ******************************-->
            {% if user.buyer_profile.role == 'SuperUser' or user.buyer_profile.department == 'Admin' %}
            <li class="treeview {% if 'reports' in request.path %} active {% endif %}">
              <a href="#">
                <i class="fa {{ICONS.analysis}}"></i> <span>Reports & Analysis</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li class="treeview {% if request.resolver_match.url_name == 'spend_by_location_dept' %} active {% endif %}">
                  <a href="{%url 'spend_by_location_dept' %}">
                    <i class="fa {{ICONS.locations}}"></i> 
                    <span>Spend by Location/Dept</span>
                  </a>
                </li>
                <li class="treeview {% if request.resolver_match.url_name == 'spend_by_product_category' %} active {% endif %}">
                  <a href="{%url 'spend_by_product_category' %}">
                    <i class="fa {{ICONS.products}}"></i> 
                    <span>Spend by Product/Category</span>
                  </a>
                </li>     
                <li class="treeview {% if request.resolver_match.url_name == 'spend_by_entity' %} active {% endif %}">
                  <a href="{%url 'spend_by_entity' %}">
                    <i class="fa {{ICONS.users}}"></i> 
                    <span>Spend by Entities</span>
                  </a>
                </li>                            
                <li class="treeview {% if request.resolver_match.url_name == 'industry_benchmarks' %} active {% endif %}">
                  <a href="{%url 'industry_benchmarks' %}">
                    <i class="fa {{ICONS.industry}}"></i> 
                    <span>Industry Benchmarks</span>
                  </a>
              </li>
            </ul>                
            {% endif %}  

            <!--****************************
            *******   PRICE ALERT   ********
            ******************************-->
            {% if user.buyer_profile.role == 'SuperUser' or user.buyer_profile.role == 'Purchaser' %}
            <li class="treeview {% if request.resolver_match.url_name == 'price_alerts' %} active {% endif %}">
              <a href="{%url 'price_alerts' %}">
                <i class="fa {{ICONS.alert}}"></i> 
                <span>Price Alerts</span>
                {% if price_alerts.count > 0 %}
                  <span class="label label-danger pull-right">{{price_alerts.count}}</span>
                {% endif %}
              </a>
            </li> 
            {% endif %}
            

            <!--****************************
            *********   SETTINGS  **********   
            ******************************-->
            <li class="treeview {% if 'settings' in request.path %} active {% endif %}">
              <a href="{%url 'settings' %}">
                <i class="fa {{ICONS.settings}}"></i> 
                <span>Settings</span>
              </a>
            </li> 

          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Page Content -->
      <div class="content-wrapper">
        <section class="content-header">
          {% block header %}{% endblock header %}
          {% include "_includes/messages.html" with messages=messages %}
        </section>    
        {% block content %}{% endblock content %}
      </div>

      <footer class="main-footer">
        <strong>Copyright &copy; 2017 </a>.</strong> All rights reserved.
      </footer>
    <!-- ./page content -->

    </div>
    <!-- ./wrapper -->

    <script src="{% static 'jQuery/jquery-2.2.3.min.js' %}"></script>  <!-- jQuery 2.2.3 -->
    <script src="{% static 'jQuery/jquery-ui.min.js' %}"></script>  <!-- jQuery UI 1.11.4 -->
    <script>$.widget.bridge('uibutton', $.ui.button);</script> <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>   <!-- Bootstrap 3.3.6 -->      
    <script src="{% static 'plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>   <!-- Slimscroll - used for Notifications -->  
    <script src="{% static 'plugins/fastclick/fastclick.min.js' %}"></script>   <!-- Fastclick -->  
    <script src="{% static 'dist/js/app.js' %}"></script>
    <script src="{% static 'dist/js/custom.js' %}"></script>

    {% block js %}{% endblock js %}
    
    <!-- Success/Error Notifications -->
    <script type="text/javascript">
      $(function() {
          setTimeout(function() {
              $("#messageNotification").hide('fade', 500)
          }, 3000);
      });
    </script>  
  </body>
</html>
