{% extends '_layouts/base_registration.html' %}

{% block title %}Account activated{% endblock title %}

{% block header %}
	<div class="container-fluid bg-grey text-center">
		<h4>Your account is activated successfully!</h4>
	</div><br><br>
	<div class="container-fluid text-center">	
		<h4>
			<!-- 	If SUPERUSER, redirect to get_started
					If REGUSER, redirect to create/updatePW -->
			{% if user.buyer_profile.role == 'SuperUser' %}
				<a href="{% url 'login' %}?next=/get-started/">
			{% else %}
				<a href="{% url 'login' %}?next=/get-started/">
			{% endif %}
					<button type="button" class="button button-outline">LOGIN</button>
				</a>  &nbsp; now to view your account
		</h4><br>
	</div>
{% endblock header %}

{% block content %}{% endblock content %}