{% extends '_layouts/base_registration.html' %}
{% load staticfiles crispy_forms_tags %}

{% block title %}Log In{% endblock title %}

{% block header %}
  <h3 class="logo">
    <a href="{% url 'home' %}">
      <img src="{% static 'favicon.ico' %}" style="width:6%"> &nbsp; LOG IN
    </a>
  </h3>
  <h4>Get back to business</h4>
  <p>Procurement savings at your fingertips</p>
{% endblock header %}

{% block forms %}
  <form method="POST" class="uniForm">
      <div class="form-group">
        {% csrf_token %}
        {% crispy form form.helper %} 
        <button type="submit" name="login" class="button basic-teal pull-right" value="Login">Log In</button>
        <a href='{% url "password_reset" %}' class="pull-left">Forgot Password?</a>
      </div>
  </form>
{% endblock forms %}


{% block altCTA %}
    <div class="already-account">
      New to eProc?
      <a href="{% url 'register' %}">Register now</a>
      <p>By creating an account, you agree to the <a href="{% url 'terms' %}">Terms of service</a></p>
    </div>    
{% endblock altCTA %}


