{% extends '_layouts/base_registration.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Password Reset{% endblock title %}

{% block header %}
  <h3 class="logo">
    <a href="{% url 'home' %}">Password Reset</a>
  </h3>
  <h4></h4>
  <p>Enter your email address to continue</p>
{% endblock header %}

{% block forms %}
  <form method="POST" class="uniForm">
      <div class="form-group">
        {% crispy form %} 
        <button type="submit" class="button basic-teal pull-right">Submit</button>
      </div>
</form>
{% endblock forms %}


{% block altCTA %}
    <div class="already-account">
      New to eProc? <a href="{% url 'register' %}">Register now</a><br>
      Returning user? <a href="{% url 'login' %}">Log In Now</a><br>
      <p>By creating an account, you agree to the <a href="{% url 'terms' %}">Terms of service</a></p>
    </div>    
{% endblock altCTA %}
