{% extends '_layouts/base_registration.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Password Reset Confirm{% endblock title %}

{% block header %}
  <h3 class="logo"><a href="#">Password Reset</a></h3>
  <h4></h4>
  <p></p>
{% endblock header %}

{% block forms %}
   <p>We have received your password re-set request.
   An email with instructions to re-set your password has been sent to you at your registered email address.</p>
{% endblock forms %}


{% block altCTA %}
    <div class="already-account">
      Returning user? <a href="{% url 'login' %}">Log In Now</a><br>
    </div>    
{% endblock altCTA %}