{% extends '_layouts/base_registration.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Password Reset Confirm{% endblock title %}

{% block header %}
  <h3 class="logo"><a>Password Reset Confirm</a></h3>
  <h4></h4>
  <p></p>
{% endblock header %}

{% block forms %}
   {% if validlink %}
     <form method="POST" class="uniForm">
        <div class="form-group">
          {% csrf_token %}
          {% crispy form %}
          <button type="submit" class="button basic-teal pull-right">Submit</button>
        </div>
      </form>
    {% else %}
      <p>Password reset failed</p>
    {% endif %}
{% endblock forms %}


{% block altCTA %}
    <div class="already-account">
      New to eProc? <a href="{% url 'register' %}">Register now</a><br>
      Returning user? <a href="{% url 'login' %}">Log In Now</a><br>
      <p>By creating an account, you agree to the <a href="{% url 'terms' %}">Terms of service</a></p>
    </div>    
{% endblock altCTA %}