{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}

{% block title %}Inventory - {{location}} {% endblock title %}

{% block css %}
{% endblock css %}

{% block header %}
  <p class="small">{% include '_includes/back_to.html' with destination='inventory' %}</p>
  <h1>Inventory at {{location}}</h1>
{% endblock header %}

{% block content %}
<section class="content">
  <div class="row">
    <div class="col-xs-12">
        <div class="box">

          <div class="box-body">
            <table id="inventoryTable" class="table table-striped">      
               <thead class="basic-grey">
               <tr>
                  <th>Product</th>                        
                  <th>Quantity Delivered</th>
                  <th>Quantity Drawndown</th>
                  <th>Current Stock</th>
                  <th>Status</th>
                </tr>
              </thead>
              
              <tbody> 
                {% for item_name, item_details in inventory_list.iteritems %}           
                <tr>
                    <td>{{ item_name }}</td>
                    
                    <td class="text-green">
                      <i class="fa {{ICONS.incoming}}" aria-hidden="true"></i> 
                      {{ item_details.0 }}
                    </td>

                    <td class="text-red">
                      <i class="fa {{ICONS.outgoing}}" aria-hidden="true"></i> 
                      {{ item_details.1 }}
                    </td>

                    <td class="text-black">
                      <i class="fa {{ICONS.inventory}}" aria-hidden="true"></i>
                      {{ item_details.2 }}
                    </td>

                    <!-- Flag when stock is LOW/HIGH for INVENTORY table -->
                    <td>          
                      {% if item_details.2 < item_details.3 %}            
                        <span class="label label-danger"> Running low</span> 
                      {% elif item_details.2 > item_details.4 %}            
                        <span class="label label-pending"> Overstocked</span> 
                      {% else %}          
                        <span> All good!</span>
                      {% endif %}
                    </td>
                </tr>
                {% endfor %}
              </tbody>            

            </table>
          </div>  

        </div>
      </div>
    </div>
  </section>
{% endblock content %}

{% block js %}
    {% include "_includes/data_tables_notifications.html" with tableID="inventoryTable" %}
{% endblock js %}
