{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}New Drawdown{% endblock title %}

{% block css %}
{% endblock css %}

{% block header %}<h1>Create a Drawdown Request</h1>{% endblock header %}

{% block content %}
<section class="content">

    <form method="POST">
    {% csrf_token %}

        <!-- DEPARTMENT & NEXT APPROVER DROPDOWNS -->
        <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">Order Details</h3>
            </div>       
             <div class="box-body">
                  <div class="row">
                	<div class="col-xs-12">
        				<div class="box-body no-padding">
                            {% crispy drawdown_form drawdown_form.helper %}
        	            </div>
        	        </div>
        		</div> 
            </div>
     
            <div class="box-header with-border">
              <h3 class="box-title">Order Items List</h3>
            </div>
            <div class="box-body">
              <div class="row">
            	<div class="col-xs-12">                
    				<div class="box-body">    		        	
                        {{ drawdownitem_formset.management_form | crispy }}

                        {% for form in drawdownitem_formset.forms %}                   
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <div class="item" id="{{form.prefix}}">
                                {% crispy form form.helper %}                                
                            </div>                            
                        {% endfor %}
                        <a id="add" href="#"><i class="fa fa-plus"></i> Add Item</a>                            
    	           </div>
    	        </div>
    		  </div>
              <button type="submit" class="button btn basic-teal pull-right">                
                Create Request <i class="fa {{ICONS.drawdown}}"></i> 
              </button>
            </div>
        </div>        

    </form>

</section>
{% endblock content %}


{% block js %}    
{% endblock js %}

