{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}

{% block title %}Drawdowns{% endblock title %}

{% block header %}<h1>Drawdown Details</h1>{% endblock header %}


{% block content %}

  <section class="invoice">   

    <div class="row">
      <div class="col-xs-12">
        {% include "_includes/docs/print_or_email.html" with href_back='drawdowns' href_print='print_drawdown' document=drawdown %}
      </div>
    </div>

    {% include "_includes/drawdowns/drawdown_template.html" with drawdown=drawdown %}  
  
  </section>       
  
  <div class="clearfix"></div>

{% endblock content %}