.bucket{
	width: 100% !important;	
	padding: 15px;
	border: 15px;
	margin: 15px;
	border-radius: 5px;
}

.orange{
	background: orange;
}
.teal{
	background: teal;
}
.blue{
	background: blue;
}
.red{
	background: red;
}