{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}
{% load eProc_filters %}

{% block title %}Unbilled Items{% endblock title %}

{% block css %}
{% endblock css %}

{% block header %}
	<h1>Unbilled Items
	<small>Partially received items that haven't been invoiced yet</small>
	</h1>
{% endblock header %}

{% block content %}
<section class="content">

  <div class="row">
    <div class="col-xs-12">
        <div class="box">		  

		  
		  <div class="pages">
	    	<div class="box-header with-border">
	      		<h3 class="box-title">Unbilled items</h3>
	      	</div>

			<!-- UNBILLED ITEMS TABLE -->
	    	<div class="box-body">  
	    		<table id="unbilledTable" class="table table-striped">      		  	
	    		   {% include '_includes/table_header.html' with header_class='basic-teal' table_headers=table_headers %}
  
				  <tbody>
				    {% for item in unbilled_items %}           
				    	{% with item.purchase_order as po %}
					    <tr>
					      <td> 
					        {% include "_includes/formatting/status_formatting_w_href.html" with item=po value_to_display=po.number href='view_po' %}
					      </td>
					      <td> {{ item.product.name }}<br></td>
					      <td>{{ item.get_delivered_date | date }}</td>
					      <td> {{ item.requisition.department }}<br></td>
					      <td> {{ item.qty_ordered }}<br></td>
					      <td> {{ item.qty_delivered }}<br></td>
					      <td> {{item.product.currency|currency_icon}}{{ item.unit_price }}<br></td>				      
					      <td>{{ item.product.vendor_co.name }} <br></td>
					    </tr>
					    {% endwith %}
				    {% endfor %}
				  </tbody>

		  	  </table>		  	

	      </div>

		 </div>
	  </div>
  </div>

</section>
{% endblock content %}

{% block js %}
  {% include "_includes/dataTablesNotifications.html" with tableID="unbilledTable" %}	
{% endblock js %}