  <form method="post">
  {% csrf_token %}
      {% if user.buyer_profile.role == 'SuperUser' or user.buyer_profile.role == user_role %}                                        
          <button type="submit" name="approve" value="approve" class="btn basic-teal pull-right"><i class="fa fa-check"></i> Approve</button>
          <button type="submit" name="deny" value="deny" class="btn basic-red pull-right"><i class="fa fa-times"></i> Deny</button>
      {% endif %}
      {% if user.buyer_profile.role == 'SuperUser' or user.buyer_profile == document.preparer %}
          <button type="submit" name="cancel" value="cancel" class="btn basic-grey pull-right"><i class="fa fa-times"></i> Cancel</button>            
      {% endif %}            
  </form>