  {% load eProc_filters %}
  <div class="row">
      <div class="col-xs-12 col-md-6">
        <p class="lead">Other</p>
        <p>COMMENTS: <br>{{form.comments}}</p>
        {% if form.terms %}
          <p>TERMS: <br>{{form.terms}}</p>
        {% endif %}
      </div>
      <div class="col-xs-12 col-md-6 pull-right">
        <p class="lead">Totals</p>
        <div class="table-responsive">
          <table class="table no-border" id="{{tableID}}">
            <tbody>
                <tr>
                  <td>Subtotal:</td>                  
                  <td id="subTotal">{{sub_total}}</td>
                  <td>{{currency}}</td>
                </tr>
                <tr>
                  <td>Tax:</td>
                  <td class="amount">{{form.tax_amount}}</td>
                  <td>{{currency}}</td>
                </tr>
                <tr>
                  <td>Shipping:</td>
                  <td class="amount">{{form.cost_shipping}}</td>
                  <td>{{currency}}</td>
                </tr>
                <tr>
                  <td>Discount:</td>
                  <td class="amount discount">{{form.discount_amount}}</td>
                  <td>{{currency}}</td>
                </tr>
                <tr>
                  <td>Other costs:</td>
                  <td class="amount">{{form.cost_other}}</td>
                  <td>{{currency}}</td>
                </tr>    
                <tr class="lead">
                  <td>Total Cost</td>
                  <td id="grandTotal">{{grand_total}}</td>
                  <td>{{currency}}</td>
                </tr>	
              </tbody>
          </table>
        </div>
      </div>
  </div>

