<div class="col-md-3 col-sm-4"> 
    <div class="box box-widget widget-user-2">      
        <div class="widget-user-header {{color}}">
          <div class="widget-user-image"><i class="fa {{icon}} fa-3x"></i></div>
          <h3 class="widget-user-username">{{title}}</h3>
          <h5 class="widget-user-desc"></h5>
        </div>
        <div class="box-footer no-padding">
          <ul class="nav nav-stacked">
          <!-- TODO: UPDATE HREF TO {{url1}} and {{url2}} -->
            <li><a href="{% url 'requisitions' %}">{{text1}}</a></li>
            <li><a href="{% url 'requisitions' %}">{{text2}}</a></li>
          </ul>
        </div>
    </div>
</div>