
<!-- TABLE LIST OF ITEMS -->
<table id="{{tableID}}" class="table table-striped">      
   <thead class="basic-grey">
   <tr>
      <th>Product</th>                        
      <th>Quantity</th>
      <!-- Only flag when stock is running low for INVENTORY items -->
      {% if is_inventory == 'true' %}
        <th>Status</th>
      {% endif %}
    </tr>
  </thead>
  
  <tbody> 
    {% for item_name, item_details in items.iteritems %}           
    <tr>
        <td>{{ item_name }}</td>
        
        <td class={{text_css}}>
          <i class="fa {{i_class}}" aria-hidden="true"></i> 
          {{ item_details.0 }}
        </td>

        <!-- Flag when stock is LOW/HIGH for INVENTORY table -->
        {% if is_inventory == 'true' %}
        <td>          
          {% if item_details.0 < item_details.1 %}            
            <span class="label label-danger"> Running low</span> 
          {% elif item_details.0 > item_details.2 %}            
            <span class="label label-pending"> Overstocked</span> 
          {% else %}          
            <span> All good!</span>
          {% endif %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
  </tbody>            

</table>  

