
<!-- TABLE LIST OF ITEMS -->
<table id="{{tableID}}" class="table table-striped">      
   <thead class="basic-grey">
    <tr>
      <th>Product</th>                        
      <th>Quantity</th>
      <!-- queryset = true is for drawdown & received items, not for current inventory (which is a python list) -->
      {% if queryset == 'true' %}
        <th>Status</th>
        <th>By</th>
      {% else %}
        <th>Status</th>
      {% endif %}
    </tr>
  </thead>
  
  <tbody> 
    {% for item in items %}           
    <tr>     
      <!-- queryset = true is for drawdown & received items, not for current inventory (which is a python list) -->
      {% if queryset == 'true' %}
        
        <td>{{ item.product.name }}</td>
        <td class={{text_css}}><i class="fa {{i_class}}" aria-hidden="true"></i> 
          {% if tableID == 'receivedTable' %}
            {{ item.qty_delivered }}
          {% elif tableID == 'drawndownTable'%}
            {{ item.qty_drawndown }}
          {% endif %}
        </td>
        <td>{{ item.get_latest_status }}</td> 
        <td>{{ item.get_latest_status.get_status_details }}</td>

      {% else %}
        
        <td>{{item.product__name}}</td>
        <td>{{item.total_qty}}</td>
        <!-- Flag when inventory stock running low -->
        <td>
          {% if item.total_qty < item.product__threshold %}            
            <span class="label label-pending"> Running low</span> 
          {% else %}          
            <span> OK</span>
          {% endif %}
        </td>

      {% endif %}

    </tr>
    {% endfor %}
  </tbody>            

</table>  

