{% extends '_layouts/base_portal.html' %}
{% load staticfiles %}

{% block title %}{{title}}{% endblock title %}

{% block css %}
{% endblock css %}

{% block header %}{{title}}{% endblock header %}

{% block content %}
<section class="content">
  <div class="row"> 

  <!-- TABLE LIST OF ITEMS -->
    <div class="col-lg-7 col-xs-12">    
      <div class="box box-default"> 

        <div class="box-header with-border">
          <h3 class="box-title">{{subtitle}}</h3>
        </div>     

        <div class="box-body">
            <table id="{{tableID}}" class="table table-striped">
                 <thead class="basic-grey">
                  <tr>
                    <th>Product</th>                        
                    <th>Quantity</th>
                    <th>Latest Status</th>
                    <th>By</th>
                  </tr>
                </thead>
                
                <tbody> 
                  {% for item in delivered_order_items %}           
                  <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{% include "_includes/order_item_status_formatting.html" with item=item value_to_display=item.get_latest_status %}</td>
                    <td>{{ item.get_latest_status.get_status_details }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>  

      </div>  
    </div>

    <!-- CHART AGGREGATION OF ITEMS -->
    <div class="col-lg-5 col-xs-12">
    </div>
  
  </div>
</section>

{% endblock content %}

