


{% include '_includes/location_template_basic.html' with location=location %} 

<div class="box box-widget widget-user" style="margin-top: -20px">
  <div class="widget-user-header bg-grey-active">
    <div class="row text-black">

      <div class="col-sm-6 border-right">
        <div class="description-block">
          {% if location.num_users == 0 %}
            <span class="text-muted">No users yet</span><br>
            <span class="description-header"><a href="{% url 'view_location' location.id location.name|slugify %}">ADD A USER</a></span>
          {% else %}
            <h5 class="description-header">{{location.get_num_users}}</h5>
            <span class="description-text">USERS</span>
          {% endif %}
        </div>
      </div>

      <div class="col-sm-6">
        <div class="description-block">
          {% if location.num_depts == 0 %}
            <span class="text-muted">No depts yet</span><br>
            <span class="description-header"><a href="{% url 'view_location' location.id location.name|slugify %}">ADD A DEPT</a></span>
          {% else %}
            <h5 class="description-header">{{location.get_num_depts}}</h5>
            <span class="description-text">DEPTS</span>
          {% endif %}
        </div>
      </div>

    </div>
  </div>
  
</div>