


{% include '_includes/location_template_basic.html' with location=location %} 

<div class="box box-widget widget-user" style="margin-top: -20px">
  <div class="box-footer">
    <div class="row">

      <div class="col-sm-6 border-right">
        <div class="description-block">
          <h5 class="description-header">{{location.num_users}}</h5>
          <span class="description-text">USERS</span>
        </div>
      </div>

      <div class="col-sm-6 border-right">
        <div class="description-block">
          <h5 class="description-header">{{location.num_depts}}</h5>
          <span class="description-text">DEPARTMENTS</span>
        </div>
      </div>

    </div>
  </div>
  
</div>