 {% load crispy_forms_tags %}

  <!-- Modal for Department, Taxes, Users -->
    <div class="modal" id="addModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Add {{target}}</h4>
          </div>

          <form method="POST" >
            <div class="modal-body">                      
               {% csrf_token %}               
                {{form1 | crispy}}
                {{form2 | crispy}}
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
              <button type="submit" name="add" class="btn basic-teal pull-right">Add {{target}}</button>
            </div>
          </form>

        </div>
      </div>
    </div>