  <div class="row">
      <div class="col-xs-12 col-md-6">
        <p class="lead">Other</p>
        <p>COMMENTS: <br>{{form.comments}}</p>
        <p>TERMS: <br>{{form.terms}}</p>
      </div>
      <div class="col-xs-12 col-md-6 pull-right">
        <p class="lead">Totals</p>
        <div class="table-responsive">
          <table class="table" id="{{tableID}}">
            <tbody>
                <tr>
                  <td>Subtotal:</td>
                  <!-- floatformat adds decimals if needed; intcomma from humanize adds commas where needed -->
                  <td id="POSubTotal">{{sub_total|floatformat:2|intcomma}}</td>
                  <td>{{currency}}</td>
                </tr>
                <tr>
                  <td>Tax:</td>
                  <td class="amount">{{form.tax_amount|floatformat:2|intcomma}}</td>
                  <td>{{currency}}</td>
                </tr>
                <tr>
                  <td>Shipping:</td>
                  <td class="amount">{{form.cost_shipping|floatformat:2|intcomma}}</td>
                  <td>{{currency}}</td>
                </tr>
                <tr>
                  <td>Discount:</td>
                  <td class="amount discount">{{form.discount_amount|floatformat:2|intcomma}}</td>
                  <td>{{currency}}</td>
                </tr>
                <tr>
                  <td>Other costs:</td>
                  <td class="amount">{{form.cost_other|floatformat:2|intcomma}}</td>
                  <td>{{currency}}</td>
                </tr>    
                <tr class="lead">
                  <td>Total Cost</td>
                  <td id="POTotal">{{grand_total|floatformat:2|intcomma}}</td>
                  <td>{{currency}}</td>
                </tr>	
              </tbody>
          </table>
        </div>
      </div>
  </div>

