  <div class="row">
      <div class="col-xs-6">
        <p class="lead">Other</p>
        <p>COMMENTS: {{form.comments}}</p>
        <p>TERMS: {{form.terms}}</p>
      </div>
      <div class="col-xs-6 pull-right">
        <p class="lead">Totals</p>
        <div class="table-responsive">
          <table class="table" id="{{tableID}}">
            <tbody>
                <tr>
                  <th style="width:50%">Subtotal:</th>
                  <td id="POSubTotal">{{sub_total}}</td>
                  <td>{{currency}}</td>
                </tr>
                <tr>
                  <th>Tax:</th>
                  <td class="amount">{{form.tax_amount}}</td>
                  <td>{{currency}}</td>
                </tr>
                <tr>
                  <th>Shipping:</th>
                  <td class="amount">{{form.cost_shipping}}</td>
                  <td>{{currency}}</td>
                </tr>
                <tr>
                  <th>Discount:</th>
                  <td class="amount discount">{{form.discount_amount}}</td>
                  <td>{{currency}}</td>
                </tr>
                <tr>
                  <th>Other costs:</th>
                  <td class="amount">{{form.cost_other}}</td>
                  <td>{{currency}}</td>
                </tr>    
                <tr class="lead">
                  <th>Total Cost</th>
                  <td id="POTotal">{{grand_total}}</td>
                  <td>{{currency}}</td>
                </tr>	
              </tbody>
          </table>
        </div>
      </div>
  </div

