
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-globe"></i> PURCHASE ORDER
          </h2>
        </div>
      </div>

      <!-- Request Details -->
      <div class="row invoice-info">
        <div class="col-sm-3 invoice-col">
          	<p class="lead">Vendor</p>
            {{ purchase_order.vendor_co }}<br>
            {{ purchase_order.vendor_co.locations.get_primary_location }}<br>
        </div>
         <div class="col-sm-3 invoice-col">
            <p class="lead">Bill to</p>
            {{ purchase_order.billing_add }}<br><br>
        </div>
         <div class="col-sm-3 invoice-col">
            <p class="lead">Ship to</p>
            {{ purchase_order.shipping_add }}<br>
        </div>        
        <div class="col-sm-3 invoice-col">
            <p class="lead">Details</p>
            Number: <b>{{ purchase_order.number }}</b><br>
            PO Date: <b>{{ purchase_order.date_issued }}</b><br>
            Preparer: <b>{{ purchase_order.preparer }}</b><br>
            Promise Date: <b>{{ purchase_order.date_due }}</b><br>

            Status: <b>{{ latest_status }}</b>
          <br>
        </div>
      </div><br><br>

      <!-- Order Items Table-->
      {% include "_includes/order_item_table.html" with order_items=purchase_order.order_items.all %}

      <!-- Comments, Terms &&&&& Sub Total & Grand Total tables -->
      {% include "_includes/po_comments_totals.html" with tableID="POTable" form=purchase_order currency=currency sub_total=purchase_order.sub_total grand_total=purchase_order.grand_total %}


