
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-globe"></i> PURCHASE ORDER
          </h2>
        </div>
      </div>

      <!-- Request Details -->
      <div class="row invoice-info">
        <div class="col-sm-3 invoice-col">
          	<p class="lead">Vendor</p>
            <b>{{ purchase_order.vendorCo }}</b><br>
            {#<!-- {{ purchase_order.vendorCo.locations.get_primary_location() }}<br> -->#}
        </div>
         <div class="col-sm-3 invoice-col">
            <p class="lead">Bill to:</p>
            <b> {{purchase_order.billing_add.name }}</b><br>
            {{ purchase_order.billing_add }}<br><br>
        </div>
         <div class="col-sm-3 invoice-col">
            <p class="lead">Ship to:</p>
            <b> {{purchase_order.shipping_add.name }}</b><br>
            {{ purchase_order.shipping_add }}<br>
        </div>        
        <div class="col-sm-3 invoice-col">
            <p class="lead">Details</p>
            Number: <b>{{ purchase_order.number }}</b><br>
            PO Date: <b>{{ purchase_order.date_issued }}</b><br>
            Preparer: <b>{{ purchase_order.preparer }}</b><br>
            Promise Date: <b>{{ purchase_order.date_due }}</b><br>

            Status: <b>{{ latest_status }}</b>
            {% if latest_status == 'Closed' %}
              <i class="fa fa-check" style="color: {{latest_status.color.get_value_display}}" aria-hidden="true"> </i>
              {% elif latest_status == 'Open' %}
              <i class="fa fa-question" style="color: {{latest_status.color.get_value_display}}" aria-hidden="true"> </i>
              {% elif latest_status == 'Cancelled' %}
              <i class="fa fa-close" style="color: {{latest_status.color.get_value_display}}" aria-hidden="true"> </i>
            {% endif %}
          <br>
        </div>
      </div><br><br>

      <!-- Order Items Table-->
      {% include "_includes/order_item_table.html" with order_items=purchase_order.order_items.all %}

      <!-- Comments, Terms &&&&& Sub Total & Grand Total tables -->
      {% include "_includes/po_comments_totals.html" with tableID="POTable" comments=purchase_order.comments terms=purchase_order.terms sub_total=purchase_order.sub_total tax=purchase_order.tax_amount shipping=purchase_order.cost_shipping discount=purchase_order.discount_amount other=purchase_order.cost_other grand_total=purchase_order.grand_total currency=currency %}


