{% load staticfiles %}
{% load crispy_forms_tags %}

<div class="box box-primary">
<div class="box-body box-profile">
	<div class="box-header"></div>
	<div class="col-lg-3">
		<img class="profile-user-img img-responsive img-circle" src="{% static '' %}{{image}}" alt="Profile Image"><br>
	</div>
	<div class="col-lg-9">
		<form method="POST" >
			{% csrf_token %}
		  	<table class="table">
				<tbody>
				    {% crispy form formhelper %}
			    </tbody>
			</table>
		    <button type="submit" name={{buttonName}} class="btn basic-teal pull-right">Update {{title}}</button>
		</form>
	</div>
</div>
</div>