{% load staticfiles %}
  <section class="content">
      <div class="box box-primary">
        <div class="box-body box-profile">
			<img class="profile-user-img img-responsive img-circle" src="{% static '' %}{{image}}" alt="Profile Image"><br>        

			<form method="POST" >
				{% csrf_token %}
			  	<table class="table">
    				<tbody>
	        				<tr><td>Name: </td><td>{{fname}} {{lname}}</td></tr>
					    {% if profile == 'user' %}
						    <tr><td>Role: </td> <td>{{role}}</td></tr>
						    <tr><td>Department: </td> <td>{{department}}</td></tr>
						    <tr><td>Email: </td> <td>{{email}}</td></tr>
					    {% elif profile == 'company' %}
					    	<tr><td>Currency: </td> <td>{{currency}}</td></tr>
					    {% endif %}
				    </tbody>
				</table>
			    <button type="submit" class="btn basic-teal pull-right">Update Profile</button>
			</form>
        </div>
      </div>
  </section>