
    {% load eProc_filters %}

    {% include '_includes/table_header.html' with header_class='basic-teal' table_headers=table_headers %}
    
    <tbody>
      {% for item in items %}           
      <tr>              
        {% with item.purchase_order as po and item.product.currency as currency %}
          <td> {% include "_includes/formatting/status_formatting_w_href.html" with item=po value_to_display=po.number href='view_po' %}</td>
        {% endwith %}
        <td> {{item.number}}</td>  
        <td> {{item.product.vendor_co.name}}</td>
        <td> {{item.product.name}}</td>        
        <td> {{item.get_delivered_date|date:"D, M d Y"}}</td>
        <td> {{item.qty_delivered}}</td>
        <td> {{item.get_delivered_subtotal|currency_formatting:currency }}</td>
        <td> {{item.qty_ordered}}</td>
        <td> {{item.get_ordered_subtotal|currency_formatting:currency }}</td>
        <td> {{item.get_delivered_subtotal|as_percentage_of:item.get_ordered_subtotal}}</td>
      </tr>
    {% endfor %}
  </tbody>