{% load staticfiles %}

  <thead class="basic-teal">
    <tr>
      <th>Request Order</th>                        
      <th>Date Due</th>                        
      <th>Department</th>
      <th>Comments</th>
      <th>Total</th>
    </tr>
  </thead>
  
  <tbody>
  {% for requisition in requisitions %}    
    <tr>
      <td>
        {% include "_includes/status_formatting_w_href.html" with item=requisition value_to_display=requisition.number href='view_requisition' href_id=requisition.id %}</b> <br>      
        <small><b>Requested by:</b> {{ requisition.preparer.user.username }}</small>       
      </td>
      <td><b> {{ requisition.date_due | date:"M d, Y" }} </b><br>
        <em><small><b>Created:</b> {{ requisition.date_created }}</small></em>
      </td>                      
      <td> {{ requisition.department }}</td>
      <td> {{ requisition.comments }} </td>
      <td> {{ requisition.currency }} {{ requisition.sub_total }}<br>
        <em><small><b>Num. items:</b> {{ requisition.order_items.count }}</small></em>
      </td>
    </tr>
  {% endfor %}
  </tbody>


<!--  requisition.status_updates.all | dictsort: '-date' | first  -->