<div class="col-lg-6">
  <div class="box box-default">
  
      <div class="box-header with-border">
        <h3 class="box-title">Recent Activity</h3>
      </div>     

      <div class="box-body">
        {% if len_user_activity == 0 %}
          <div>No activity so far</div>
        {% else %}
          <table id="activityTable" class="table">
            {% include "_includes/table_header.html" with header_class="basic-grey" table_headers=user_activity_headers %}

            <tbody>              
              {% for activity in user_activity %}
                <tr>
                  <td>                        
                    {% if activity.item %}
                      {{activity.item}}
                    {% else %}
                      {{activity.document}}
                    {% endif %}
                  </td>
                  <td>{{ activity.value }}</td>
                  <td>{{ activity.date }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}    
      </div>

  </div>      
</div>